/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps > .ps__scrollbar-x-rail {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__scrollbar-x-rail */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps > .ps__scrollbar-y-rail {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__scrollbar-y-rail */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps.ps--active-x > .ps__scrollbar-x-rail,
.ps.ps--active-y > .ps__scrollbar-y-rail {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__scrollbar-x-rail,
.ps:hover > .ps__scrollbar-y-rail {
  opacity: 0.6;
}

.ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail,
.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail,
.ps > .ps__scrollbar-x-rail:hover,
.ps > .ps__scrollbar-y-rail:hover,
.ps > .ps__scrollbar-x-rail:focus,
.ps > .ps__scrollbar-y-rail:focus {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps > .ps__scrollbar-x-rail > .ps__scrollbar-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__scrollbar-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__scrollbar-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x,
.ps > .ps__scrollbar-x-rail:focus > .ps__scrollbar-x,
.ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
  background-color: #999;
  height: 11px;
}

.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:focus > .ps__scrollbar-y,
.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
