.form-select {
  -moz-padding-start: subtract(
    $form-select-padding-x,
    3px
  ); // See https://github.com/twbs/bootstrap/issues/32636
  background-image: escape-svg($form-select-indicator);
  background-position: $form-select-bg-position;
  background-size: $form-select-bg-size;

  &:focus {
    box-shadow: 0 0 0 1px rgb(37, 99, 235);
  }

  &[multiple],
  &[size]:not([size='1']) {
    padding-right: $form-select-padding-x;
    background-image: none;
  }

  &:disabled {
    color: $form-select-disabled-color;
    background-color: $form-select-disabled-bg;
    border-color: $form-select-disabled-border-color;
  }

  // Remove outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $form-select-color;
  }
}
