<a
  href="{{ .href }}"
  class="flex w-full items-center rounded-lg px-4 py-2 text-[0.9rem] leading-[1.6] outline-none transition-colors duration-500 ease-in-out hover:bg-neutral-100 focus:bg-neutral-100 motion-reduce:transition-none dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
  <span class="mr-2 mt-[-1px] flex h-3.5 w-3.5 items-center justify-center">
    <svg
      aria-hidden="true"
      focusable="false"
      data-prefix="fas"
      data-icon="circle"
      class="mx-auto h-2.5 w-2.5 opacity-40"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 576 512"
      style="color: #757575;">
      <path
        id="circle"
        fill="currentColor"
        d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
    </svg>
  </span>
  {{ .text | markdownify }}
  {{ .Title }}
</a>
