{{ $accordion_section := .Params.accordion_section }}


<!-- Basics -->
<div
  data-te-accordion-item
  class="rounded-t-[0.25rem] border-0 bg-white dark:bg-neutral-800">
  <h2 data-te-accordion-header class="mb-0" id="headingBasics">
    <button
      class="group relative flex w-full items-center rounded-lg border-0 bg-white px-[1.4rem] py-[0.9rem] text-left text-base leading-none text-gray-800 outline-none transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-neutral-800 dark:text-white [&:not([data-te-collapse-collapsed])]:bg-[#f3f6fc] [&:not([data-te-collapse-collapsed])]:text-[#2c58a0] dark:[&:not([data-te-collapse-collapsed])]:bg-neutral-700 dark:[&:not([data-te-collapse-collapsed])]:text-primary-300"
      type="button"
      data-te-collapse-init
      {{ if ne $accordion_section "headingBasics" }}
        data-te-collapse-collapsed
      {{ end }}
      data-te-target="#collapseBasics"
      aria-expanded="true"
      aria-controls="collapseBasics">
      <span class="mr-2 mt-[-1px] flex h-3.5 w-3.5 items-center justify-center">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="circle"
          class="mx-auto h-2.5 w-2.5 opacity-40"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
          style="color: #757575;">
          <path
            id="check"
            fill="currentColor"
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
        </svg>
      </span>
      Basics
      <span
        class="ml-auto h-3.5 w-3.5 shrink-0 rotate-[-180deg] fill-[#336dec] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
      </span>
    </button>
  </h2>
  <div
    id="collapseBasics"
    class="{{ if ne $accordion_section "headingBasics" }}
      hidden
    {{ end }} group !visible"
    data-te-collapse-item
    {{ if eq $accordion_section "headingBasics" }}
      data-te-collapse-show
    {{ end }}
    aria-labelledby="headingBasics"
    data-te-parent="#tutorials-menu">
    <div class="px-6 py-[1.15rem]">
      <div class="flex justify-center">
        <ul class="w-96 text-gray-800 dark:text-gray-200">
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/basics/introduction/" "text"
            "Introduction")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/basics/key-concepts/" "text"
            "Key concepts")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/basics/quick-start/" "text"
            "Quick start")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/basics/vite/" "text"
            "Vite")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/basics/mdb-go-and-deploy/" "text"
            "MDB GO and deploy")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/basics/create-website/" "text"
            "Create a website")
          }}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Tailwind CSS -->
<div data-te-accordion-item class="border-0 bg-white dark:bg-neutral-800">
  <h2 data-te-accordion-header class="mb-0" id="headingTailwindCSS">
    <button
      class="group relative flex w-full items-center rounded-lg border-0 bg-white px-[1.4rem] py-[0.9rem] text-left text-base leading-none text-gray-800 outline-none transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-neutral-800 dark:text-white [&:not([data-te-collapse-collapsed])]:bg-[#f3f6fc] [&:not([data-te-collapse-collapsed])]:text-[#2c58a0] dark:[&:not([data-te-collapse-collapsed])]:bg-neutral-700 dark:[&:not([data-te-collapse-collapsed])]:text-primary-300"
      type="button"
      data-te-collapse-init
      {{ if ne $accordion_section "headingTailwindCSS" }}
        data-te-collapse-collapsed
      {{ end }}
      data-te-target="#collapseTailwindCSS"
      aria-expanded="false"
      aria-controls="collapseTailwindCSS">
      <span class="mr-2 mt-[-1px] flex h-3.5 w-3.5 items-center justify-center">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="circle"
          class="mx-auto h-2.5 w-2.5 opacity-40"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
          style="color: #757575;">
          <path
            id="check"
            fill="currentColor"
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
        </svg>
      </span>
      Tailwind CSS
      <span
        class="ml-auto h-3.5 w-3.5 shrink-0 rotate-[-180deg] fill-[#336dec] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
      </span>
    </button>
  </h2>
  <div
    id="collapseTailwindCSS"
    class="{{ if ne $accordion_section "headingTailwindCSS" }}
      hidden
    {{ end }} !visible"
    data-te-collapse-item
    {{ if eq $accordion_section "headingTailwindCSS" }}
      data-te-collapse-show
    {{ end }}
    aria-labelledby="headingTailwindCSS"
    data-te-parent="#tutorials-menu">
    <div class="px-6 py-[1.15rem]">
      <div class="flex justify-center">
        <ul class="w-96 text-gray-800 dark:text-gray-200">
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/about/" "text"
            "About Tailwind CSS")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/versions/" "text"
            "Versions")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/installation/" "text"
            "Installation")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/setup-overview/" "text"
            "Setup overview")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/create-landing-page/" "text"
            "Create a Landing Page")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/grid-system/" "text"
            "Grid system")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/responsiveness/" "text"
            "Responsiveness")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/navbar/" "text"
            "Navbar")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/javascript/" "text"
            "JavaScript")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/containers/" "text"
            "Containers")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/tailwind-css-intellisense/" "text"
            "Tailwind CSS IntelliSense")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/colors/" "text"
            "Colors")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/icons/" "text"
            "Icons")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/navbar-icons-and-logo/" "text"
            "Navbar icons and logo")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/hover-state/" "text"
            "Hover state")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/focus-active-and-others/" "text"
            "Focus, active and other states")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/dark-mode/" "text"
            "Dark mode")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/fullscreen-background-image/" "text"
            "Fullscreen background image")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/arbitrary-values/" "text"
            "Arbitrary values")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/flexbox/" "text"
            "Flexbox")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/text/" "text"
            "Text")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/spacing/" "text"
            "Spacing")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/masks/" "text"
            "Masks")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/hsla-colors/" "text"
            "HSLA colors")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/utility-first/" "text"
            "Utility-first")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/buttons/" "text"
            "Buttons")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/ripple-effect/" "text"
            "Ripple effect")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/carousel/" "text"
            "Carousel")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/rounded-corners/" "text"
            "Rounded corners")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/shadows/" "text"
            "Shadows")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/lists/" "text"
            "Lists")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/cards/" "text"
            "Cards")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/pricing-cards/" "text"
            "Pricing cards")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/advanced-grid/" "text"
            "Advanced grid")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/reorder-columns/" "text"
            "Reorder columns")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/sizing/" "text"
            "Sizing")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/inputs/" "text"
            "Inputs")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/forms/" "text"
            "Forms")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/badges/" "text"
            "Badges")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/footer/" "text"
            "Footer")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/deploy/" "text"
            "Deploy")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/tailwind-css/repository/" "text"
            "Repository")
          }}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Tailwind Elements -->
<div data-te-accordion-item class="border-0 bg-white dark:bg-neutral-800">
  <h2 data-te-accordion-header class="mb-0" id="headingTailwindElements">
    <button
      class="group relative flex w-full items-center rounded-lg border-0 bg-white px-[1.4rem] py-[0.9rem] text-left text-base leading-none text-gray-800 outline-none transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-neutral-800 dark:text-white [&:not([data-te-collapse-collapsed])]:bg-[#f3f6fc] [&:not([data-te-collapse-collapsed])]:text-[#2c58a0] dark:[&:not([data-te-collapse-collapsed])]:bg-neutral-700 dark:[&:not([data-te-collapse-collapsed])]:text-primary-300"
      type="button"
      data-te-collapse-init
      {{ if ne $accordion_section "headingTailwindElements" }}
        data-te-collapse-collapsed
      {{ end }}
      data-te-target="#collapseTailwindElements"
      aria-expanded="false"
      aria-controls="collapseTailwindElements">
      <span class="mr-2 mt-[-1px] flex h-3.5 w-3.5 items-center justify-center">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="circle"
          class="mx-auto h-2.5 w-2.5 opacity-40"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
          style="color: #757575;">
          <path
            id="check"
            fill="currentColor"
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
        </svg>
      </span>
      TW Elements
      <span
        class="ml-auto h-3.5 w-3.5 shrink-0 rotate-[-180deg] fill-[#336dec] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
      </span>
    </button>
  </h2>
  <div
    id="collapseTailwindElements"
    class="{{ if ne $accordion_section "headingTailwindElements" }}
      hidden
    {{ end }} !visible"
    data-te-collapse-item
    {{ if eq $accordion_section "headingTailwindElements" }}
      data-te-collapse-show
    {{ end }}
    aria-labelledby="headingTailwindElements"
    data-te-parent="#tutorials-menu">
    <div class="px-6 py-[1.15rem]">
      <div class="flex justify-center">
        <ul class="w-96 text-gray-800 dark:text-gray-200">
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/about-tailwind-elements/" "text"
            "About TW Elements")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/installation-and-setup/" "text"
            "Installation & setup")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/mdb-cli/" "text"
            "MDB CLI")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/create-portfolio/" "text"
            "Create a Portfolio")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/split-screen/" "text"
            "Split screen")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/half-carousel/" "text"
            "Half carousel")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/object-fit/" "text"
            "Object fit")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/object-position/" "text"
            "Object position")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/improving-carousel/" "text"
            "Improving the carousel")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/hiding-elements/" "text"
            "Hiding elements on mobile")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/material-minimal/" "text"
            "Material Minimal")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/nested-flexbox/" "text"
            "Nested flexbox")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/sticky-navbar/" "text"
            "Sticky navbar")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/position/" "text"
            "Position")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/logo/" "text"
            "Logo")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/animated-navbar/" "text"
            "Animated navbar")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/improving-icons-visibility/" "text"
            "Improving icons visibility")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/improving-responsiveness/" "text"
            "Improving responsiveness")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/cascading-cards/" "text"
            "Cascading cards")
          }}
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/te-foundations/te-ui-kit/responsive-images/" "text"
            "Responsive images")
          }}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- MDB GO -->
<div data-te-accordion-item class="border-0 bg-white dark:bg-neutral-800">
  <h2 data-te-accordion-header class="mb-0" id="headingMDBGO">
    <button
      class="group relative flex w-full items-center rounded-lg border-0 bg-white px-[1.4rem] py-[0.9rem] text-left text-base leading-none text-gray-800 outline-none transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-neutral-800 dark:text-white [&:not([data-te-collapse-collapsed])]:bg-[#f3f6fc] [&:not([data-te-collapse-collapsed])]:text-[#2c58a0] dark:[&:not([data-te-collapse-collapsed])]:bg-neutral-700 dark:[&:not([data-te-collapse-collapsed])]:text-primary-300"
      type="button"
      data-te-collapse-init
      {{ if ne $accordion_section "headingMDBGO" }}
        data-te-collapse-collapsed
      {{ end }}
      data-te-target="#collapseMDBGO"
      aria-expanded="false"
      aria-controls="collapseMDBGO">
      <span class="mr-2 mt-[-1px] flex h-3.5 w-3.5 items-center justify-center">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="circle"
          class="mx-auto h-2.5 w-2.5 opacity-40"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
          style="color: #757575;">
          <path
            id="check"
            fill="currentColor"
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
        </svg>
      </span>
      MDB GO
      <span
        class="ml-auto h-3.5 w-3.5 shrink-0 rotate-[-180deg] fill-[#336dec] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
      </span>
    </button>
  </h2>
  <div
    id="collapseMDBGO"
    class="{{ if ne $accordion_section "headingMDBGO" }}
      hidden
    {{ end }} !visible"
    data-te-collapse-item
    {{ if eq $accordion_section "headingMDBGO" }}
      data-te-collapse-show
    {{ end }}
    aria-labelledby="headingMDBGO"
    data-te-parent="#tutorials-menu">
    <div class="px-6 py-[1.15rem]">
      <div class="flex justify-center">
        <ul class="w-96 text-gray-800 dark:text-gray-200">
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/coming-soon/" "text"
            "Start")
          }}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Create a Blog -->
<div data-te-accordion-item class="border-0 bg-white dark:bg-neutral-800">
  <h2 data-te-accordion-header class="mb-0" id="headingBlog">
    <button
      class="group relative flex w-full items-center rounded-lg border-0 bg-white px-[1.4rem] py-[0.9rem] text-left text-base leading-none text-gray-800 outline-none transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-neutral-800 dark:text-white [&:not([data-te-collapse-collapsed])]:bg-[#f3f6fc] [&:not([data-te-collapse-collapsed])]:text-[#2c58a0] dark:[&:not([data-te-collapse-collapsed])]:bg-neutral-700 dark:[&:not([data-te-collapse-collapsed])]:text-primary-300"
      type="button"
      data-te-collapse-init
      {{ if ne $accordion_section "headingBlog" }}
        data-te-collapse-collapsed
      {{ end }}
      data-te-target="#collapseBlog"
      aria-expanded="false"
      aria-controls="collapseBlog">
      <span class="mr-2 mt-[-1px] flex h-3.5 w-3.5 items-center justify-center">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="circle"
          class="mx-auto h-2.5 w-2.5 opacity-40"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
          style="color: #757575;">
          <path
            id="check"
            fill="currentColor"
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
        </svg>
      </span>
      Create a Blog
      <span
        class="ml-auto h-3.5 w-3.5 shrink-0 rotate-[-180deg] fill-[#336dec] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
      </span>
    </button>
  </h2>
  <div
    id="collapseBlog"
    class="{{ if ne $accordion_section "headingBlog" }}hidden{{ end }} !visible"
    data-te-collapse-item
    {{ if eq $accordion_section "headingBlog" }}
      data-te-collapse-show
    {{ end }}
    aria-labelledby="headingBlog"
    data-te-parent="#tutorials-menu">
    <div class="px-6 py-[1.15rem]">
      <div class="flex justify-center">
        <ul class="w-96 text-gray-800 dark:text-gray-200">
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/coming-soon/" "text"
            "Start")
          }}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Create an eCommerce -->
<div data-te-accordion-item class="border-0 bg-white dark:bg-neutral-800">
  <h2 data-te-accordion-header class="mb-0" id="headingeCommerce">
    <button
      class="group relative flex w-full items-center rounded-lg border-0 bg-white px-[1.4rem] py-[0.9rem] text-left text-base leading-none text-gray-800 outline-none transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-neutral-800 dark:text-white [&:not([data-te-collapse-collapsed])]:bg-[#f3f6fc] [&:not([data-te-collapse-collapsed])]:text-[#2c58a0] dark:[&:not([data-te-collapse-collapsed])]:bg-neutral-700 dark:[&:not([data-te-collapse-collapsed])]:text-primary-300"
      type="button"
      data-te-collapse-init
      {{ if ne $accordion_section "headingeCommerce" }}
        data-te-collapse-collapsed
      {{ end }}
      data-te-target="#collapseeCommerce"
      aria-expanded="false"
      aria-controls="collapseeCommerce">
      <span class="mr-2 mt-[-1px] flex h-3.5 w-3.5 items-center justify-center">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="circle"
          class="mx-auto h-2.5 w-2.5 opacity-40"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
          style="color: #757575;">
          <path
            id="check"
            fill="currentColor"
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
        </svg>
      </span>
      Create an eCommerce
      <span
        class="ml-auto h-3.5 w-3.5 shrink-0 rotate-[-180deg] fill-[#336dec] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
      </span>
    </button>
  </h2>
  <div
    id="collapseeCommerce"
    class="{{ if ne $accordion_section "headingeCommerce" }}
      hidden
    {{ end }} !visible"
    data-te-collapse-item
    {{ if eq $accordion_section "headingeCommerce" }}
      data-te-collapse-show
    {{ end }}
    aria-labelledby="headingeCommerce"
    data-te-parent="#tutorials-menu">
    <div class="px-6 py-[1.15rem]">
      <div class="flex justify-center">
        <ul class="w-96 text-gray-800 dark:text-gray-200">
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/coming-soon/" "text"
            "Start")
          }}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Create an Admin Dashboard -->
<div data-te-accordion-item class="border-0 bg-white dark:bg-neutral-800">
  <h2 data-te-accordion-header class="mb-0" id="headingAdmin">
    <button
      class="group relative flex w-full items-center rounded-lg border-0 bg-white px-[1.4rem] py-[0.9rem] text-left text-base leading-none text-gray-800 outline-none transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-neutral-800 dark:text-white [&:not([data-te-collapse-collapsed])]:bg-[#f3f6fc] [&:not([data-te-collapse-collapsed])]:text-[#2c58a0] dark:[&:not([data-te-collapse-collapsed])]:bg-neutral-700 dark:[&:not([data-te-collapse-collapsed])]:text-primary-300"
      type="button"
      data-te-collapse-init
      {{ if ne $accordion_section "headingAdmin" }}
        data-te-collapse-collapsed
      {{ end }}
      data-te-target="#collapseAdmin"
      aria-expanded="false"
      aria-controls="collapseAdmin">
      <span class="mr-2 mt-[-1px] flex h-3.5 w-3.5 items-center justify-center">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="circle"
          class="mx-auto h-2.5 w-2.5 opacity-40"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
          style="color: #757575;">
          <path
            id="check"
            fill="currentColor"
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
        </svg>
      </span>
      Create an Admin Dashboard
      <span
        class="ml-auto h-3.5 w-3.5 shrink-0 rotate-[-180deg] fill-[#336dec] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
      </span>
    </button>
  </h2>
  <div
    id="collapseAdmin"
    class="{{ if ne $accordion_section "headingAdmin" }}
      hidden
    {{ end }} !visible"
    data-te-collapse-item
    {{ if eq $accordion_section "headingAdmin" }}
      data-te-collapse-show
    {{ end }}
    aria-labelledby="headingAdmin"
    data-te-parent="#tutorials-menu">
    <div class="px-6 py-[1.15rem]">
      <div class="flex justify-center">
        <ul class="w-96 text-gray-800 dark:text-gray-200">
          {{ partial "tutorial/tutorial-nav-link.html" (dict "context" . "href" "/learn/coming-soon/" "text"
            "Start")
          }}
        </ul>
      </div>
    </div>
  </div>
</div>
