
<nav class="shadow">

  <div class="px-5 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <style></style>
          {{ if ne .IsHome true }}
          <div id="hamburger" class="mr-2 flex md:hidden text-gray-400">
            <a href="#" class="text-gray-400">
              <svg fill="hsl(224, 7.2%, 40%)" viewBox="0 0 100 80" width="25" height="25">
                <rect width="80" height="14"></rect>
                <rect y="30" width="80" height="14"></rect>
                <rect y="60" width="80" height="14"></rect>
              </svg>
            </a>
          </div>
          {{ end }}
          <a href="/" class="
              pr-3
              py-2
              rounded-md
              font-medium
              flex
              items-center
              text-lg
            " aria-current="page"><img src="/img/logo.png" class="mr-3" alt="" style="width: 40px" />
            Tailwind Elements</a>
        </div>
        <div class="hidden md:flex sm:ml-6 flex items-center">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

            <a href="/quick-start/" class="
                hover:text-blue-600
                px-3
                py-2
                rounded-md
                text-sm
                font-medium
              ">Get started</a>

            <a href="/snippets/" class="
                hover:text-blue-600
                px-3
                py-2
                rounded-md
                text-sm
                font-medium
                hidden xl:block
              ">Playground</a>

            <a target="_blank" href="https://mdbgo.com/" class="
                hover:text-blue-600
                px-3
                py-2
                rounded-md
                text-sm
                font-medium
              ">Free hosting</a>
              <a target="_blank" href="https://mdbootstrap.com/services/" class="
                  hover:text-blue-600
                  px-3
                  py-2
                  rounded-md
                  text-sm
                  font-medium
                ">Services</a>
          </div>
        </div>
      </div>

      <!-- Search -->
      <div id="mdb-5-search-container" class="hidden lg:block">
        <form>
          <style>
            #mdb-5-search-input:focus-within {
              outline: 1px solid hsl(222, 14.1%, 72.2%) !important;
            }
          </style>
          <input id="mdb-5-search-input" autocomplete="off" type="search" class="rounded-lg w-100 p-2 mr-2 bg-gray-100"
            placeholder='Search (ctrl + "/")' />
          <span class="input-group-text border-0"><i class="fas fa-search text-gray-400"
              id="mdb-5-search-icon"></i></span>
        </form>
        <div id="mdb-5-search-dropdown" class="rounded shadow-md hidden p-2" style="
            position: absolute;
            top: 50px;
            overflow-y: hidden;
            z-index: 999999;
            background-color: white;
          ">
          <ul id="mdb-5-search-list" class="
              w-max
              pt-0
              scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100
            " style="
              overflow-y: scroll;
              max-height: 265px;
              min-width: 300px;
              position: relative;
            "></ul>
          <hr class="my-0" />
          <p class="mb-0 mx-2 my-3 text-gray-500 text-sm">
            search results: <strong id="mdb-5-search-count"></strong>
          </p>
        </div>
      </div>
      <!-- Search -->
      <div class="
          absolute
          inset-y-0
          right-0
          flex
          items-center
          pr-2
          sm:static sm:inset-auto sm:ml-6 sm:pr-0
        ">
        <!-- <a
          href="https://twitter.com/tailwindElement"
          target="_blank"
          class="
            text-gray-400
            hover:text-blue-600
            px-3
            py-2
            rounded-md
            text-sm
            font-medium
          "
          ><i class="fab fa-twitter"></i
        ></a> -->
        <a href="https://github.com/mdbootstrap/Tailwind-Elements/" target="_blank" class="
            text-gray-400
            hover:text-blue-600
            pl-3
            py-2
            rounded-md
            text-sm
            font-medium
          "><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</nav>