<!-- Front page -->
{{ $hidden_sidenav := .Params.hidden_sidenav }}


<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    {{ partial "head/head.html" . }}
  </head>
  <body class="bg-white transition-colors duration-500 dark:bg-neutral-800">
    <nav
      id="sidenav-main"
      class="fixed left-0 top-0 z-[1036] h-screen w-60 -translate-x-full overflow-hidden bg-white shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] dark:bg-neutral-800 xl:data-[te-sidenav-hidden='false']:translate-x-0"
      data-te-sidenav-init
      {{ if ne $hidden_sidenav true }}
        data-te-sidenav-mode-breakpoint-over="0"
        data-te-sidenav-mode-breakpoint-side="xl" data-te-sidenav-hidden="false"
        data-te-sidenav-mode="side"
      {{ else }}
        data-te-sidenav-hidden="true" data-te-sidenav-mode="over"
      {{ end }}
      data-te-sidenav-content="#page-content"
      data-te-sidenav-accordion="true">
      <a
        href="/"
        class="mb-3 flex items-center justify-center rounded-md py-6 pr-3 text-lg font-medium outline-none dark:text-neutral-100"
        aria-current="page">
        <picture>
          <source
            srcset="
              https://tecdn.b-cdn.net/img/logo/te-transparent-noshadows.webp
            "
            type="image/webp" />
          <img
            src="https://tecdn.b-cdn.net/img/logo/te-transparent-noshadows.png"
            class="mr-2 h-[20px]"
            alt="logo" />
        </picture>
        TW Elements</a
      >
      {{ partial "sidenav/standard.html" . }}
    </nav>

    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      preserveAspectRatio="none"
      class="absolute top-[60px] hidden h-[580px] w-full transition-opacity duration-300 dark:opacity-0 lg:block">
      <defs>
        <linearGradient id="sw-gradient-light" x1="0" x2="0" y1="1" y2="0">
          <stop stop-color="hsl(209, 92.2%, 92.1%)" offset="0%"></stop>
          <stop stop-color="hsl(209, 92.2%, 99.1%)" offset="100%"></stop>
        </linearGradient>
      </defs>
      <path
        fill="url(#sw-gradient-light)"
        d="M -0.664 3.46 C -0.664 3.46 405.288 15.475 461.728 21.285 C 601.037 35.625 672.268 76.086 701.056 97.646 C 756.056 138.838 797.267 216.257 857.745 245.156 C 885.704 258.516 980.334 280.547 1048.511 268.826 C 1121.622 256.256 1199.864 226.267 1214.176 220.176 C 1241.273 208.643 1280.201 191.509 1343.494 179.436 C 1434.325 162.111 1439.504 196.099 1439.503 183.204 C 1439.502 161.288 1440 0 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 L -0.664 3.46 Z"></path>
    </svg>

    <svg
      data-name="Layer 2"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      preserveAspectRatio="none"
      class="absolute top-[60px] hidden h-[580px] w-full opacity-0 transition-opacity duration-300 dark:opacity-100 lg:block">
      <defs>
        <linearGradient id="sw-gradient-dark" x1="0" x2="0" y1="1" y2="0">
          <stop stop-color="hsl(240, 4%, 28%)" offset="0%"></stop>
          <stop stop-color="hsl(0, 0%, 15%)" offset="100%"></stop>
        </linearGradient>
      </defs>
      <path
        fill="url(#sw-gradient-dark)"
        d="M -0.664 3.46 C -0.664 3.46 405.288 15.475 461.728 21.285 C 601.037 35.625 672.268 76.086 701.056 97.646 C 756.056 138.838 797.267 216.257 857.745 245.156 C 885.704 258.516 980.334 280.547 1048.511 268.826 C 1121.622 256.256 1199.864 226.267 1214.176 220.176 C 1241.273 208.643 1280.201 191.509 1343.494 179.436 C 1434.325 162.111 1439.504 196.099 1439.503 183.204 C 1439.502 161.288 1440 0 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 L -0.664 3.46 Z"></path>
    </svg>

    {{ partial "header/header.html" . }}


    <div
      id="gtmDC-frontpage-all"
      class="absolute top-[60px] z-10 hidden h-[74px] w-full lg:block"></div>

    <main class="relative leading-[1.6]">
      {{ .Content }}
    </main>

    {{ partial "footer/footer.html" . }}
  </body>
</html>
