{{ $hidden_sidenav := .Params.hidden_sidenav }}


<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    {{ partial "head/head.html" . }}
  </head>
  <body class="transition-colors duration-500 dark:bg-neutral-800">
    {{ partial "header/header.html" . }}


    <nav
      id="sidenav-main"
      class="fixed left-0 top-0 z-[1036] h-screen w-60 -translate-x-full overflow-hidden bg-white shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] dark:bg-neutral-800 xl:data-[te-sidenav-hidden='false']:translate-x-0"
      data-te-sidenav-init
      {{ if ne $hidden_sidenav true }}
        data-te-sidenav-mode-breakpoint-over="0"
        data-te-sidenav-mode-breakpoint-side="xl" data-te-sidenav-hidden="false"
        data-te-sidenav-mode="side"
      {{ else }}
        data-te-sidenav-hidden="true" data-te-sidenav-mode="over"
      {{ end }}
      data-te-sidenav-content="#page-content"
      data-te-sidenav-accordion="true">
      <a
        href="/"
        class="mb-3 flex items-center justify-center rounded-md py-6 pr-3 text-lg font-medium outline-none dark:text-neutral-100"
        aria-current="page">
        <picture>
          <source
            srcset="
              https://tecdn.b-cdn.net/img/logo/te-transparent-noshadows.webp
            "
            type="image/webp" />
          <img
            src="https://tecdn.b-cdn.net/img/logo/te-transparent-noshadows.png"
            class="mr-2 h-[20px]"
            alt="logo" />
        </picture>
        TW Elements</a
      >
      {{ partial "sidenav/standard.html" . }}
    </nav>

    <main class="mt-[58px] py-5">
      <div class="contents">
        <section
          id="mdb-tutorial-content"
          class="mx-auto min-[576px]:max-w-[540px] min-[768px]:max-w-[720px] min-[992px]:max-w-[960px] min-[1200px]:max-w-[1140px] min-[1400px]:max-w-[1320px] ">
          <div class="grid grid-cols-12">
            <!-- Column: Sidebar -->
            <div class="col-span-4 mb-5 hidden px-5 lg:block">
              <a
                id="newDC-tutorials"
                class="opacity-100 transition-opacity duration-500 ease-in">
                <div
                  class="mb-4 flex h-[190px] items-center justify-center overflow-hidden rounded-[0.5em] rounded-lg border border-[rgb(20,75,163)] px-6 py-5 text-base text-gray-800 dark:text-gray-200"
                  role="alert">
                  <div>
                    <p class="mb-2">
                      <strong>Free UI/UX design course</strong>
                    </p>
                    <p class="mb-5 text-neutral-500">
                      Learn how to create exceptional designs by reading my new
                      tutorial.
                    </p>
                    <a
                      href="https://material-minimal.com/"
                      target="_blank"
                      type="button"
                      class="mt-3 flex items-center justify-center rounded-md bg-[#E3EBF7] px-6 pb-2 pt-2.5 text-center
                                  text-sm font-medium leading-normal text-primary-700 decoration-[#275090] shadow-none transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
                      >Start learning
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="ml-1 h-4 w-4">
                        <path
                          fill-rule="evenodd"
                          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                          clip-rule="evenodd" />
                      </svg>
                    </a>
                  </div>
                </div>
              </a>
              <div id="tutorials-menu">
                {{ partial "tutorial/tutorial-navigation.html" . }}
              </div>
            </div>
            <!-- Column: Sidebar -->

            <!-- Column: Content -->
            <div class="col-span-12 mb-5 px-6 lg:col-span-8">
              {{ .Content }}


              <hr
                class="my-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50" />

              <!-- Section: Nav buttons -->
              <section class="flex justify-center md:justify-between">
                <div class="hidden md:flex">
                  <a
                    type="button"
                    class="flex rounded bg-transparent px-6 py-2.5 text-xs font-medium uppercase leading-tight text-primary outline-none  transition duration-300 ease-in-out hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none focus:ring-0 active:bg-neutral-200 active:text-primary-800 dark:text-primary-400 dark:hover:text-primary-600"
                    data-te-ripple-init
                    href="https://twitter.com/ascensus_mdb"
                    rel="nofollow"
                    target="_blank">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="caret-left"
                      class="ml-1 mr-1 h-3.5 w-3.5"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 576 512">
                      <path
                        fill="currentColor"
                        d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z" />
                    </svg>
                    Ask question</a
                  >
                </div>

                <div class="flex">
                  {{ if and (isset .Params "previous_lesson") (ne .Params.previous_lesson "") }}
                    <a
                      type="button"
                      class="mr-3 flex items-center rounded bg-primary-100 px-6 py-2.5 text-xs font-medium uppercase leading-tight text-primary-700 outline-none transition duration-150 ease-in-out hover:bg-primary-accent-100 hover:shadow-lg focus:bg-primary-accent-100 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-accent-200 active:shadow-lg"
                      href="{{ .Params.previous_lesson }}"
                      ><svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="caret-left"
                        class=" h-4 w-4"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path
                          fill="currentColor"
                          d="M192 127.338v257.324c0 17.818-21.543 26.741-34.142 14.142L29.196 270.142c-7.81-7.81-7.81-20.474 0-28.284l128.662-128.662c12.599-12.6 34.142-3.676 34.142 14.142z" />
                      </svg>
                      Prev
                    </a>
                  {{ end }}

                  {{ if and (isset .Params "next_lesson") (ne .Params.next_lesson "") }}
                    <a
                      type="button"
                      class="flex items-center rounded bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-[0_4px_9px_-4px_#3b71ca] outline-none transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                      href="{{ .Params.next_lesson }}">
                      Next
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="caret-right"
                        class="-mr-3 ml-3 h-4 w-4"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path
                          fill="currentColor"
                          d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" />
                      </svg>
                    </a>
                  {{ end }}
                </div>
              </section>
              <!-- Section: Nav buttons -->

              <hr
                class="my-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50" />

              <!-- Section: About author -->
              <section class="">
                <!-- Media object -->
                <div class="flex">
                  <!-- Image -->
                  <img
                    src="https://pbs.twimg.com/profile_images/1154666340298493952/F57OFDN7_400x400.jpg"
                    alt="John Doe"
                    class="mr-4 rounded-full shadow-[0px_2px_25px_-5px_rgba(0,0,0,0.16),_0px_25px_21px_-5px_rgba(0,0,0,0.1)]"
                    style="width: 90px; height: 90px;" />
                  <!-- Body -->
                  <div>
                    <div class="mb-2 flex justify-between">
                      <div>
                        <p
                          class="mb-4 font-bold text-[#757575] dark:text-neutral-300">
                          About author
                        </p>
                        <h5 class="font-bold">Michal Szymanski</h5>
                      </div>
                      <div class="mb-2">
                        <a
                          href="https://twitter.com/ascensus_mdb"
                          target="_blank"
                          rel="nofollow"
                          class="flex text-primary dark:text-primary-400">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fab"
                            data-icon="twitter"
                            class="mr-1 mt-1 h-4 w-4 decoration-primary-50"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512">
                            <path
                              fill="currentColor"
                              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
                          </svg>
                          <strong class="decoration-primary-50"
                            >@ascensus_mdb</strong
                          ></a
                        >
                      </div>
                    </div>
                    <p>
                      Co Founder at TW Elements and MDBootstrap / Listed in
                      Forbes „30 under 30" / Open-source enthusiast /
                      <a
                        class="font-bold text-[#3b71ca;] dark:text-blue-300"
                        href="https://youtu.be/bbKBlGxwgj8"
                        target="_blank"
                        rel="nofollow"
                        >Dancer</a
                      >, nerd & book lover.
                    </p>
                    <p class="mt-4">
                      Author of hundreds of articles on programming, business,
                      marketing and productivity. In the past, an educator
                      working with troubled youth in orphanages and correctional
                      facilities.
                    </p>
                  </div>
                </div>
                <!-- Media object -->
              </section>
              <!-- Section: About author -->
            </div>
            <!-- Column: Content -->
          </div>
        </section>
      </div>
    </main>

    {{ partial "footer/footer-scripts.html" . }}


    <script>
      const currentProgress = JSON.parse(
        localStorage.getItem("te.tutorial.progress") || "[]"
      );
      const checkProgress = Array.from(currentProgress).includes(
        location.pathname
      );
      if (!checkProgress) {
        currentProgress.push(location.pathname);
        localStorage.setItem(
          "te.tutorial.progress",
          JSON.stringify(currentProgress)
        );
      }

      const accordion = document.getElementById("tutorials-menu");
      const tutorials = accordion.querySelectorAll("[data-te-accordion-item]");

      const checkedLessonSvgPath =
        "M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z";

      tutorials.forEach((tutorial) => {
        const links = tutorial.querySelectorAll("[data-te-collapse-item] a");
        const progress = localStorage.getItem("te.tutorial.progress");

        links.forEach((link) => {
          if (progress.includes(link.getAttribute("href"))) {
            link.setAttribute("data-te-seen-lesson", true);
            const childrenSvg = link.querySelector("svg");
            childrenSvg.classList.add("w-4", "h-4");
            childrenSvg.classList.remove("w-2.5", "h-2.5", "opacity-40");
            const childrenSvgPath = link.querySelector("path");
            childrenSvgPath.setAttribute("d", checkedLessonSvgPath);
            childrenSvgPath.setAttribute("style", "color:#3b71ca;");
          }

          const currentCollapseItem =
            link.parentElement.parentElement.parentElement.parentElement;
          const currentCollapseToggler = tutorial.querySelector(
            `[data-te-target="#${currentCollapseItem.id}"]`
          );

          if (link.href === window.location.href) {
            link.classList.add(
              "bg-[#f3f6fc]",
              "hover:bg-[#f3f6fc]",
              "focus:bg-[#f3f6fc]",
              "text-[#2c58a0]",
              "dark:bg-neutral-700",
              "dark:text-primary-300",
              "dark:hover:bg-neutral-700",
              "dark:focus:bg-neutral-700"
            );
          }
        });

        const activeLinks = tutorial.querySelectorAll("[data-te-seen-lesson]");

        if (links.length === activeLinks.length) {
          const accordionHeader = tutorial.querySelector(
            "[data-te-accordion-header]"
          );
          const buttonHeader = accordionHeader.querySelector("button");
          const buttonSvg = buttonHeader.querySelector("svg");
          buttonSvg.classList.add("w-4", "h-4");
          buttonSvg.classList.remove("w-2.5", "h-2.5", "opacity-40");
          const buttonHeaderSvgPath = buttonHeader.querySelector("path");
          buttonHeaderSvgPath.setAttribute("d", checkedLessonSvgPath);
          buttonHeaderSvgPath.setAttribute("style", "color:#3b71ca;");
        }
      });
    </script>
  </body>
</html>
