{
  "env" : {
    "node": true,
    "browser": true
  },
  "globals": {
    "$": true,
    "define": true
  },
  "rules" : {
    "quotes": false,
    "space-after-keywords": [2, "always", {"checkFunctionKeyword": true}],
    "space-before-blocks": [2, "always"],
    "brace-style": [2, "1tbs", { "allowSingleLine": false}],
    "spaced-line-comment": [2, "always"],
    "radix": [2, "always"],
    "key-spacing": [2, "always", {"beforeColon": false, "afterColon": true}],
    "no-multiple-empty-lines": [2, {max: 1}],
  }
}
