{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "ignorePatterns": ["src/files/", "dist/", "site/", "src/js/plugin.js"],
  "extends": ["eslint:recommended", "prettier"]
}
