{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "amd": true,
    "node": true,
    "es6": true
  },
  "ignorePatterns": [
    "src/files/",
    "dist/",
    "site/",
    "src/js/plugin.js",
    "src/js/plugin.cjs"
  ],
  "extends": ["eslint:recommended", "prettier"]
}
