# Hugo default output directory
/site/public

## OS Files
# Windows
/site/Thumbs.db
/site/ehthumbs.db
/site/Desktop.ini
/site/$RECYCLE.BIN/

# OSX
/site/.DS_Store

# dependencies
node_modules
/mdb

# production
/dist
/site/tw-starter.zip

# demo
/dist-demo

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode
package-lock.json

/test/coverage/*