# Hugo default output directory
/site/public
/site/resources

# Compiled files
/site/assets/css/style.css
/site/assets/css/style.min.css
/site/static/js/index.min.js
/site/static/js/index.min.js.map
/site/static/js/tw-elements.umd.min.js
/site/static/js/tw-elements.umd.min.js.map
/site/static/js/plugin.js
/site/static/js/plugin.cjs

## OS Files
# Windows
/site/Thumbs.db
/site/ehthumbs.db
/site/Desktop.ini
/site/$RECYCLE.BIN/
desktop.ini

# OSX
/site/.DS_Store

# dependencies
node_modules
/mdb

# production
/dist
/site/te-starter.zip
/site/twe-starter.zip

# demo
/dist-demo

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode
package-lock.json

/test/coverage/*