{{/* Shortcodes are evaluated inside-out so we generate a hash in the `code` shortcode and set it in the .Parent.Scratch and in the parent we extract them in the same order they get rendered */}}
{{ $hashes := (default slice (.Parent.Scratch.Get "hashes")) }}
{{ $hash := (hmac "sha1" (delimit (seq 9 | shuffle) "") (.Get "lang")) }}
{{ .Parent.Scratch.Set "hashes" ($hashes | append $hash) }}


<div
  class="hidden opacity-0 {{ if eq (.Get `active`) true }}opacity-100{{ end }} transition-opacity duration-150 ease-linear data-[te-tab-active]:block mb-5"
  {{ if eq (.Get `active`) true }}data-te-tab-active{{ end }}
  id="mdb_{{ $hash }}"
  role="tabpanel">
  <pre
    class="grey text-[14px] lighten-3 line-numbers language-{{ .Get `lang` }} mb-0">
        <code class="{{if ne (.Get `type`) ``}}type-{{.Get `type`}}{{end}}">
            {{ .Inner | htmlEscape | htmlUnescape }}
        </code>
    </pre>
</div>
