<section class="pb-4">
    <div class="bg-white border rounded-5">
    <!-- Header -->
    <div class="p-4 text-center">
        <a class="btn btn-link px-3" data-mdb-toggle="collapse" href="#{{.Get `id`}}" role="button"
            aria-expanded="false" aria-controls="{{.Get `id`}}" data-ripple-color="hsl(0, 0%, 67%)"><i
                class="fas fa-code me-md-2"></i><span class="d-none d-md-inline-block">Show code</span></a>
        <a class="btn btn-link px-3 " data-ripple-color="hsl(0, 0%, 67%)"><i class="fas fa-file-code me-md-2 pe-none"></i><span
                class="d-none d-md-inline-block export-to-snippet pe-none">Edit in sandbox</span></a>
    </div>
    <!-- Header -->
    </div>
</section>