<!--
--------------------------------------------------------------------------
TW Elements is an open-source UI kit of advanced components for TailwindCSS.
Copyright © 2023 MDBootstrap.com

Unless a custom, individually assigned license has been granted, this program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
In addition, a custom license may be available upon request, subject to the terms and conditions of that license. Please contact tailwind@mdbootstrap.com for more information on obtaining a custom license.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

If you would like to purchase a COMMERCIAL, non-AGPL license for TWE, please check out our pricing: https://tw-elements.com/pro/
--------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="TW Elements" />
    <title>Album example · Bootstrap v5.1</title>

    <!-- Roboto font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../../../src/scss/tailwind.scss" />
    <!-- PRISM -->
    <link rel="stylesheet" href="../../dev/css/new-prism.css" />
    <!-- Theme -->
    <meta name="theme-color" content="#f8fafc" />
    <script>
      try {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
          document
            .querySelector('meta[name="theme-color"]')
            .setAttribute("content", "#0B1120");
        } else {
          document.documentElement.classList.remove("dark");
        }
      } catch (_) {}
    </script>
    <!-- Custom styles -->
    <style></style>
  </head>

  <body class="dark:bg-neutral-800">
    <!-- Start your project here-->
    <div class="mx-96">
      <br />
      <br />
      <br />

      <h2 class="text-2xl">
        Example heading
        <span
          class="inline-block whitespace-nowrap rounded-[0.27rem] border-[#c7d6f0d9] bg-[#dfe7f8d9] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#2c58a0d9]">
          New
        </span>
      </h2>

      <br />
      <br />
      <br />

      <p class="mb-4">Button</p>
      <button
        type="button"
        data-te-ripple-init
        data-te-ripple-color="light"
        class="flex items-center rounded bg-[#3b71ca] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-[#386bc0] hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-[#386bc0] focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-[#3566b6] active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]">
        Notifications
        <span
          class="ml-2 inline-block whitespace-nowrap rounded-[0.27rem] border-[#f4c8cf] bg-[#f9e1e5] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#af233a]"
          >7</span
        >
      </button>

      <br />
      <br />
      <br />

      <p class="mb-4">Colors</p>

      <span
        class="inline-block whitespace-nowrap rounded-[0.27rem] border-[#c7d6f0] bg-[#dfe7f6] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#2c58a0]">
        Primary
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-[0.27rem] border-[#dadee1] bg-[#ebedef] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#40464f]">
        Secondary
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-[0.27rem] border-[#c0e7d0] bg-[#d6f0e0] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#0d6832]">
        Success
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-[0.27rem] border-[#f4c8cf] bg-[#f9e1e5] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#af233a]">
        Danger
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-[0.27rem] border-[#f9e4be] bg-[#fbf0da] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#73510d]">
        Warning
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-[0.27rem] border-[#c6e6f1] bg-[#def1f7] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#1c657d]">
        Info
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-[0.27rem] border-[#e6e6e6] bg-[#f5f5f5] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#4f4f4f]">
        Light
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-[0.27rem] border-[#443c3c] bg-[#332e2e] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#f5f5f5]">
        Dark
      </span>

      <br />
      <br />
      <br />

      <p class="mb-4">Pills</p>

      <span
        class="inline-block whitespace-nowrap rounded-full border-[#c7d6f0] bg-[#dfe7f6] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#2c58a0]">
        Primary
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-full border-[#dadee1] bg-[#ebedef] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#40464f]">
        Secondary
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-full border-[#c0e7d0] bg-[#d6f0e0] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#0d6832]">
        Success
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-full border-[#f4c8cf] bg-[#f9e1e5] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#af233a]">
        Danger
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-full border-[#f9e4be] bg-[#fbf0da] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#73510d]">
        Warning
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-full border-[#c6e6f1] bg-[#def1f7] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#1c657d]">
        Info
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-full border-[#e6e6e6] bg-[#f5f5f5] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#4f4f4f]">
        Light
      </span>
      <span
        class="inline-block whitespace-nowrap rounded-full border-[#443c3c] bg-[#332e2e] px-[0.65em] py-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#f5f5f5]">
        Dark
      </span>

      <br />
      <br />
      <br />
    </div>
    <!-- End your project here-->

    <!-- Theme switcher -->
    <script type="module" src="../../../src/js/theme.js"></script>
    <!-- MDB -->
    <script type="module" src="../../../src/js/index.umd.js"></script>
    <!-- PRISM -->
    <script type="module" src="../../dev/js/new-prism.js"></script>
    <!-- MDB SNIPPET -->
    <script type="module" src="../../dev/js/dist/mdbsnippet.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
