<!--
--------------------------------------------------------------------------
TW Elements is an open-source UI kit of advanced components for TailwindCSS.
Copyright © 2023 MDBootstrap.com

Unless a custom, individually assigned license has been granted, this program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
In addition, a custom license may be available upon request, subject to the terms and conditions of that license. Please contact tailwind@mdbootstrap.com for more information on obtaining a custom license.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

If you would like to purchase a COMMERCIAL, non-AGPL license for TWE, please check out our pricing: https://tw-elements.com/pro/
--------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="TW Elements" />
    <title>Album example · Bootstrap v5.1</title>

    <!-- Roboto font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../../../src/scss/tailwind.scss" />
    <!-- PRISM -->
    <link rel="stylesheet" href="../../dev/css/new-prism.css" />
    <!-- Theme -->
    <meta name="theme-color" content="#f8fafc" />
    <script>
      try {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
          document
            .querySelector('meta[name="theme-color"]')
            .setAttribute("content", "#0B1120");
        } else {
          document.documentElement.classList.remove("dark");
        }
      } catch (_) {}
    </script>
    <!-- Custom styles -->
    <style></style>
  </head>

  <body class="dark:bg-neutral-800">
    <div class="xl:mx-96">
      <br />
      <br />
      <br />

      <!-- Jumbotron -->
      <div class="rounded-lg bg-neutral-100 p-6 text-neutral-700 shadow-lg">
        <h2 class="mb-5 text-3xl font-semibold">Hello world!</h2>
        <p>
          This is a simple hero unit, a simple jumbotron-style component for
          calling extra attention to featured content or information.
        </p>
        <hr class="my-6 border-neutral-300" />
        <p>
          It uses utility classes for typography and spacing to space content
          out within the larger container.
        </p>
        <button
          type="button"
          class="mt-4 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
          data-te-ripple-init
          data-te-ripple-color="light">
          Learn more
        </button>
      </div>
      <!-- Jumbotron -->

      <br />
      <br />
      <br />

      <!-- Jumbotron -->
      <div
        class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center"
        style="
          background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
          height: 400px;
        ">
        <div
          class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
          style="background-color: rgba(0, 0, 0, 0.6)">
          <div class="flex h-full items-center justify-center">
            <div class="text-white">
              <h2 class="mb-4 text-4xl font-semibold">Heading</h2>
              <h4 class="mb-6 text-xl font-semibold">Subheading</h4>
              <a
                class="mb-1 inline-block rounded border-2 border-neutral-200 px-7 py-3 text-sm font-medium uppercase leading-snug text-neutral-200 transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                href="#!"
                role="button"
                data-te-ripple-init
                data-te-ripple-color="light"
                >Call to action</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Jumbotron -->

      <br />
      <br />
      <br />

      <header>
        <!-- Navbar -->
        <nav
          class="relative flex w-full items-center justify-between bg-white py-2 shadow-lg md:flex-wrap md:justify-start"
          data-te-navbar-ref>
          <div class="px-6">
            <button
              class="border-0 bg-transparent px-2 py-3 text-xl leading-none text-neutral-600 transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:hidden"
              type="button"
              data-te-collapse-init
              data-te-target="#navbarSupportedContentX"
              aria-controls="navbarSupportedContentX"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="[&>svg]:w-5">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512">
                  <path
                    fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                </svg>
              </span>
            </button>
            <div
              class="!visible hidden grow basis-[100%] items-center md:!flex md:basis-auto"
              id="navbarSupportedContentX"
              data-te-collapse-item>
              <ul
                class="mr-auto flex flex-col md:flex-row"
                data-te-navbar-nav-ref>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Home</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Features</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Pricing</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >About</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->

        <!-- Jumbotron -->
        <div class="bg-neutral-100 p-12 text-center text-neutral-700">
          <h2 class="mb-4 text-4xl font-semibold">Heading</h2>
          <h4 class="mb-6 text-xl font-semibold">Subheading</h4>
          <button
            type="button"
            class="mb-1 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
            data-te-ripple-init
            data-te-ripple-color="light">
            Call to action
          </button>
        </div>
        <!-- Jumbotron -->
      </header>

      <br />
      <br />
      <br />

      <header>
        <!-- Navbar -->
        <nav
          class="relative flex w-full items-center justify-between bg-neutral-50 py-2 shadow-lg md:flex-wrap md:justify-start"
          data-te-navbar-ref>
          <div class="px-6">
            <button
              class="border-0 bg-transparent px-2 py-3 text-xl leading-none text-neutral-600 transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:hidden"
              type="button"
              data-te-collapse-init
              data-te-target="#navbarSupportedContentY"
              aria-controls="navbarSupportedContentY"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="[&>svg]:w-5">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512">
                  <path
                    fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                </svg>
              </span>
            </button>
            <div
              class="!visible hidden grow basis-[100%] items-center md:!flex md:basis-auto"
              id="navbarSupportedContentY"
              data-te-collapse-item>
              <ul
                class="mr-auto flex flex-col md:flex-row"
                data-te-navbar-nav-ref>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Home</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Features</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Pricing</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >About</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->

        <!-- Background image -->
        <div
          class="relative overflow-hidden bg-cover bg-no-repeat p-12 text-center"
          style="
            background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
            height: 400px;
          ">
          <div
            class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="flex h-full items-center justify-center">
              <div class="text-white">
                <h2 class="mb-4 text-4xl font-semibold">Heading</h2>
                <h4 class="mb-6 text-xl font-semibold">Subheading</h4>
                <a
                  class="mb-1 inline-block rounded border-2 border-neutral-200 px-7 py-3 text-sm font-medium uppercase leading-snug text-neutral-200 transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                  href="#!"
                  role="button"
                  data-te-ripple-init
                  data-te-ripple-color="light"
                  >Call to action</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
      </header>

      <br />
      <br />
      <br />

      <header>
        <!-- Navbar -->
        <nav
          class="relative flex w-full items-center justify-between bg-neutral-50 py-2 shadow-lg md:flex-wrap md:justify-start"
          data-te-navbar-ref>
          <div class="px-6">
            <button
              class="border-0 bg-transparent px-2 py-3 text-xl leading-none text-neutral-600 transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:hidden"
              type="button"
              data-te-collapse-init
              data-te-target="#navbarSupportedContentO"
              aria-controls="navbarSupportedContentO"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="[&>svg]:w-5">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512">
                  <path
                    fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                </svg>
              </span>
            </button>
            <div
              class="!visible hidden grow basis-[100%] items-center md:!flex md:basis-auto"
              id="navbarSupportedContentO"
              data-te-collapse-item>
              <ul
                class="mr-auto flex flex-col md:flex-row"
                data-te-navbar-nav-ref>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Home</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Features</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Pricing</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >About</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->

        <!-- Background image -->
        <div
          class="relative h-96 overflow-hidden bg-cover bg-no-repeat p-12 text-center lg:h-screen"
          style="background-image: url('https://mdbootstrap.com/img/Photos/Inne/ostia.jpg')">
          <div
            class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
            style="background-color: rgba(2, 56, 53, 0.7)">
            <div class="flex h-full items-center justify-center">
              <div class="text-white">
                <h2 class="mb-4 text-4xl font-semibold">
                  The background photo shows Lido di Ostia
                </h2>
                <h4 class="mb-6 text-xl font-semibold">
                  It is a coastal town in Italy that is part of Rome
                </h4>
                <a
                  class="mb-1 inline-block rounded border-2 border-neutral-200 px-7 py-3 text-sm font-medium uppercase leading-snug text-neutral-200 transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                  href="#!"
                  role="button"
                  data-te-ripple-init
                  data-te-ripple-color="light"
                  >Learn more about Rome</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
      </header>

      <br />
      <br />
      <br />

      <!-- Demo -->

      <section
        class="w-100 text-center"
        style="overflow-y: scroll; height: 400px">
        <!-- Warning! Only for the demo purpose, we use sticky-top instead of the fixed-top class, because when using fixed-top in the demo the navbar will stick to the window instead of the demo box. That's why we also remove <header> tags from the demo-->

        <!-- Navbar -->
        <nav
          class="sticky top-0 flex w-full items-center justify-between bg-white py-2 shadow-lg md:flex-wrap md:justify-start"
          data-te-navbar-ref>
          <div class="px-6">
            <button
              class="border-0 bg-transparent px-2 py-3 text-xl leading-none text-neutral-600 transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:hidden"
              type="button"
              data-te-collapse-init
              data-te-target="#navbarSupportedContentU"
              aria-controls="navbarSupportedContentU"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="[&>svg]:w-5">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512">
                  <path
                    fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                </svg>
              </span>
            </button>
            <div
              class="!visible hidden grow basis-[100%] items-center md:!flex md:basis-auto"
              id="navbarSupportedContentU"
              data-te-collapse-item>
              <ul
                class="mr-auto flex flex-col md:flex-row"
                data-te-navbar-nav-ref>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Home</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Features</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Pricing</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >About</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->

        <!-- Jumbotron -->
        <div class="bg-neutral-100 p-12 text-center text-neutral-700">
          <h2 class="mb-4 text-4xl font-semibold">Heading</h2>
          <h4 class="mb-6 text-xl font-semibold">Subheading</h4>
          <button
            type="button"
            class="mb-1 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
            data-te-ripple-init
            data-te-ripple-color="light">
            Call to act
          </button>
        </div>
        <!-- Jumbotron -->

        <p class="my-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
      </section>

      <!-- Prisma -->

      <header>
        <!-- Navbar -->
        <nav
          class="fixed left-0 right-0 top-0 flex w-full items-center justify-between bg-white py-2 shadow-lg md:flex-wrap md:justify-start"
          data-te-navbar-ref>
          <div class="px-6">
            <button
              class="border-0 bg-transparent px-2 py-3 text-xl leading-none text-neutral-600 transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:hidden"
              type="button"
              data-te-collapse-init
              data-te-target="#navbarSupportedContentL"
              aria-controls="navbarSupportedContentL"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="[&>svg]:w-5">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512">
                  <path
                    fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                </svg>
              </span>
            </button>
            <div
              class="!visible hidden grow basis-[100%] items-center md:!flex md:basis-auto"
              id="navbarSupportedContentL"
              data-te-collapse-item>
              <ul
                class="mr-auto flex flex-col md:flex-row"
                data-te-navbar-nav-ref>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Home</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Features</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Pricing</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >About</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->

        <!-- Jumbotron -->
        <div class="bg-neutral-100 p-12 text-center text-neutral-700">
          <h2 class="mb-4 text-4xl font-semibold">Heading</h2>
          <h4 class="mb-6 text-xl font-semibold">Subheading</h4>
          <button
            type="button"
            class="mb-1 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
            data-te-ripple-init
            data-te-ripple-color="light">
            Call to action
          </button>
        </div>
        <!-- Jumbotron -->
      </header>

      <br />
      <br />
      <br />

      <!-- Demo -->

      <section
        class="w-100 text-center"
        style="overflow-y: scroll; height: 400px">
        <!-- Warning! Only for the demo purpose, we use sticky-top instead of the fixed-top class, because when using fixed-top in the demo the navbar will stick to the window instead of the demo box. That's why we also remove <header> tags from the demo-->

        <!-- Navbar -->
        <nav
          class="sticky top-0 z-10 flex w-full items-center justify-between bg-white py-2 shadow-lg md:flex-wrap md:justify-start"
          data-te-navbar-ref>
          <div class="px-6">
            <button
              class="border-0 bg-transparent px-2 py-3 text-xl leading-none text-neutral-600 transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:hidden"
              type="button"
              data-te-collapse-init
              data-te-target="#navbarSupportedContentE"
              aria-controls="navbarSupportedContentE"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="[&>svg]:w-5">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512">
                  <path
                    fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                </svg>
              </span>
            </button>
            <div
              class="!visible hidden grow basis-[100%] items-center md:!flex md:basis-auto"
              id="navbarSupportedContentE"
              data-te-collapse-item>
              <ul
                class="mr-auto flex flex-col md:flex-row"
                data-te-navbar-nav-ref>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Home</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Features</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Pricing</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >About</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->

        <!-- Background image -->
        <div
          class="relative overflow-hidden bg-cover bg-no-repeat p-12 text-center"
          style="
            background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
            height: 400px;
          ">
          <div
            class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="flex h-full items-center justify-center">
              <div class="text-white">
                <h2 class="mb-4 text-4xl font-semibold">Heading</h2>
                <h4 class="mb-6 text-xl font-semibold">Subheading</h4>
                <a
                  class="mb-1 inline-block rounded border-2 border-neutral-200 px-7 py-3 text-sm font-medium uppercase leading-snug text-neutral-200 transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                  href="#!"
                  role="button"
                  data-te-ripple-init
                  data-te-ripple-color="light"
                  >Call to action</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->

        <p class="my-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
        <p class="mb-4 text-neutral-700">Scroll down</p>
      </section>

      <!-- Prisma -->

      <header>
        <!-- Navbar -->
        <nav
          class="fixed left-0 right-0 top-0 z-10 flex w-full items-center justify-between bg-white py-2 shadow-lg md:flex-wrap md:justify-start"
          data-te-navbar-ref>
          <div class="px-6">
            <button
              class="border-0 bg-transparent px-2 py-3 text-xl leading-none text-neutral-600 transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:hidden"
              type="button"
              data-te-collapse-init
              data-te-target="#navbarSupportedContentM"
              aria-controls="navbarSupportedContentM"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="[&>svg]:w-5">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512">
                  <path
                    fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                </svg>
              </span>
            </button>
            <div
              class="!visible hidden grow basis-[100%] items-center md:!flex md:basis-auto"
              id="navbarSupportedContentM"
              data-te-collapse-item>
              <ul
                class="mr-auto flex flex-col md:flex-row"
                data-te-navbar-nav-ref>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Home</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Features</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >Pricing</a
                  >
                </li>
                <li data-te-nav-item-ref>
                  <a
                    class="block text-neutral-600 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 md:p-2 [&.active]:border-primary [&.active]:text-primary"
                    href="#!"
                    data-te-nav-link-ref
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    >About</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->

        <!-- Background image -->
        <div
          class="relative overflow-hidden bg-cover bg-no-repeat p-12 text-center"
          style="
            background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
            height: 400px;
          ">
          <div
            class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="flex h-full items-center justify-center">
              <div class="text-white">
                <h2 class="mb-4 text-4xl font-semibold">Heading</h2>
                <h4 class="mb-6 text-xl font-semibold">Subheading</h4>
                <a
                  class="mb-1 inline-block rounded border-2 border-neutral-200 px-7 py-3 text-sm font-medium uppercase leading-snug text-neutral-200 transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                  href="#!"
                  role="button"
                  data-te-ripple-init
                  data-te-ripple-color="light"
                  >Call to action</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
      </header>

      <br />
      <br />
      <br />
    </div>

    <!-- Theme switcher -->
    <script type="module" src="../../../src/js/theme.js"></script>
    <!-- MDB -->
    <script type="module" src="../../../src/js/index.umd.js"></script>
    <!-- PRISM -->
    <script type="module" src="../../dev/js/new-prism.js"></script>
    <!-- MDB SNIPPET -->
    <script type="module" src="../../dev/js/dist/mdbsnippet.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
