<!--
--------------------------------------------------------------------------
TW Elements is an open-source UI kit of advanced components for TailwindCSS.
Copyright © 2023 MDBootstrap.com

Unless a custom, individually assigned license has been granted, this program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
In addition, a custom license may be available upon request, subject to the terms and conditions of that license. Please contact tailwind@mdbootstrap.com for more information on obtaining a custom license.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

If you would like to purchase a COMMERCIAL, non-AGPL license for TWE, please check out our pricing: https://tw-elements.com/pro/
--------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="TW Elements" />
    <title>Album example · Bootstrap v5.1</title>

    <!-- Roboto font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../../../src/scss/tailwind.scss" />
    <!-- PRISM -->
    <link rel="stylesheet" href="../../dev/css/new-prism.css" />
    <!-- Theme -->
    <meta name="theme-color" content="#f8fafc" />
    <script>
      try {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
          document
            .querySelector('meta[name="theme-color"]')
            .setAttribute("content", "#0B1120");
        } else {
          document.documentElement.classList.remove("dark");
        }
      } catch (_) {}
    </script>
    <!-- Custom styles -->
    <style></style>
  </head>

  <body class="dark:bg-neutral-800">
    <!-- Start your project here-->
    <div class="mx-96">
      <br />
      <br />
      <br />

      <a href="#!" class="underline">This is a basic link example</a>

      <br />
      <br />
      <br />

      <a
        href="#!"
        class="text-primary transition duration-300 ease-in-out hover:text-primary-700"
        >This is a classic web primary link example without underline</a
      >

      <br />
      <br />
      <br />

      <p class="mb-4">
        This is an example of how the basic
        <a href="#!" class="underline">link</a> looks in the middle of the
        sentence.
      </p>
      <p>
        This is an example of how the
        <a
          href="#!"
          class="text-primary transition duration-300 ease-in-out hover:text-primary-700"
          >classic primary link</a
        >
        looks in the middle of the sentence.
      </p>

      <br />
      <br />
      <br />

      <a
        href="#!"
        class="text-primary underline transition duration-300 ease-in-out hover:text-primary-700"
        >This is the primary link</a
      >

      <br />
      <br />
      <br />

      <a
        href="#!"
        class="text-purple-600 underline transition duration-300 ease-in-out hover:text-purple-700"
        >This is the secondary link</a
      >

      <br />
      <br />
      <br />

      <a
        href="#!"
        class="text-green-500 underline transition duration-300 ease-in-out hover:text-green-600"
        >This is a success link</a
      >

      <br />
      <br />
      <br />

      <a
        href="#!"
        class="text-red-600 underline transition duration-300 ease-in-out hover:text-red-700"
        >This is a danger link</a
      >

      <br />
      <br />
      <br />

      <a
        href="#!"
        class="text-yellow-500 underline transition duration-300 ease-in-out hover:text-yellow-600"
        >This is a warning link</a
      >

      <br />
      <br />
      <br />

      <a
        href="#!"
        class="text-primary-400 underline transition duration-300 ease-in-out hover:text-primary-500"
        >This is an info link</a
      >

      <br />
      <br />
      <br />

      <a
        href="#!"
        class="text-neutral-200 underline transition duration-300 ease-in-out hover:text-neutral-300"
        >This is a light link</a
      >

      <br />
      <br />
      <br />

      <a
        href="#!"
        class="text-neutral-800 underline transition duration-300 ease-in-out hover:text-neutral-900"
        >This is a dark link</a
      >

      <br />
      <br />
      <br />

      <div class="rounded bg-neutral-900 p-4">
        <a
          href="#!"
          class="text-white underline transition duration-300 ease-in-out hover:text-neutral-100"
          >This is a white link</a
        >
      </div>

      <br />
      <br />
      <br />

      <a
        href="#!"
        class="underline decoration-transparent transition duration-300 ease-in-out hover:decoration-inherit"
        >A link with underline on hover</a
      >

      <br />
      <br />
      <br />

      <button
        type="button"
        class="inline-block rounded bg-transparent px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary transition duration-300 ease-in-out hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none focus:ring-0 active:bg-neutral-200 active:text-primary-800">
        Link
      </button>

      <br />
      <br />
      <br />
    </div>
    <!-- End your project here-->

    <!-- Theme switcher -->
    <script type="module" src="../../../src/js/theme.js"></script>
    <!-- MDB -->
    <script type="module" src="../../../src/js/index.umd.js"></script>
    <!-- PRISM -->
    <script type="module" src="../../dev/js/new-prism.js"></script>
    <!-- MDB SNIPPET -->
    <script type="module" src="../../dev/js/dist/mdbsnippet.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
