<!--
--------------------------------------------------------------------------
TW Elements is an open-source UI kit of advanced components for TailwindCSS.
Copyright © 2023 MDBootstrap.com

Unless a custom, individually assigned license has been granted, this program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
In addition, a custom license may be available upon request, subject to the terms and conditions of that license. Please contact tailwind@mdbootstrap.com for more information on obtaining a custom license.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

If you would like to purchase a COMMERCIAL, non-AGPL license for TWE, please check out our pricing: https://tw-elements.com/pro/
--------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="TW Elements" />
    <title>Album example · Bootstrap v5.1</title>

    <!-- Roboto font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../../../src/scss/tailwind.scss" />
    <!-- PRISM -->
    <link rel="stylesheet" href="../../dev/css/new-prism.css" />
    <!-- Theme -->
    <meta name="theme-color" content="#f8fafc" />
    <script>
      try {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
          document
            .querySelector('meta[name="theme-color"]')
            .setAttribute("content", "#0B1120");
        } else {
          document.documentElement.classList.remove("dark");
        }
      } catch (_) {}
    </script>
    <!-- Custom styles -->
    <style></style>
  </head>

  <body class="dark:bg-neutral-800">
    <!-- Start your project here-->
    <div class="mx-96">
      <br />
      <br />
      <br />

      <p class="mb-4">Basic</p>
      <ul
        class="w-96 rounded-lg border border-neutral-200 bg-white text-neutral-900">
        <li class="w-full rounded-t-lg border-b border-neutral-200 px-6 py-2">
          An item
        </li>
        <li class="w-full border-b border-neutral-200 px-6 py-2">
          A second item
        </li>
        <li class="w-full border-b border-neutral-200 px-6 py-2">
          A third item
        </li>
        <li class="w-full border-b border-neutral-200 px-6 py-2">
          A fourth item
        </li>
        <li class="w-full rounded-b-lg px-6 py-2">And a fifth one</li>
      </ul>

      <br />
      <br />
      <br />

      <p class="mb-4">Active item</p>
      <ul
        class="w-96 rounded-lg border border-neutral-200 bg-white text-neutral-900">
        <li
          class="w-full rounded-t-lg border-b border-neutral-200 bg-primary px-6 py-2 text-white">
          An active item
        </li>
        <li class="w-full border-b border-neutral-200 px-6 py-2">
          A second item
        </li>
        <li class="w-full border-b border-neutral-200 px-6 py-2">
          A third item
        </li>
        <li class="w-full border-b border-neutral-200 px-6 py-2">
          A fourth item
        </li>
        <li class="w-full rounded-b-lg px-6 py-2">And a fifth one</li>
      </ul>

      <br />
      <br />
      <br />

      <p class="mb-4">Disabled</p>
      <ul
        class="w-96 rounded-lg border border-neutral-200 bg-white text-neutral-900">
        <li
          class="w-full cursor-default rounded-t-lg border-b border-neutral-200 px-6 py-2 text-neutral-400">
          A disabled item
        </li>
        <li class="w-full border-b border-neutral-200 px-6 py-2">
          A second item
        </li>
        <li class="w-full border-b border-neutral-200 px-6 py-2">
          A third item
        </li>
        <li class="w-full border-b border-neutral-200 px-6 py-2">
          A fourth item
        </li>
        <li class="w-full rounded-b-lg px-6 py-2">And a fifth one</li>
      </ul>

      <br />
      <br />
      <br />

      <p class="mb-4">Links</p>
      <div
        class="w-96 rounded-lg border border-neutral-200 bg-white text-neutral-900">
        <a
          href="#!"
          aria-current="true"
          class="block w-full cursor-pointer rounded-t-lg border-b border-neutral-200 bg-primary px-6 py-2 text-white">
          The current link item
        </a>
        <a
          href="#!"
          class="block w-full cursor-pointer border-b border-neutral-200 px-6 py-2 transition duration-500 hover:bg-neutral-100 hover:text-neutral-500 focus:bg-neutral-200 focus:text-neutral-600 focus:outline-none focus:ring-0">
          A second link item
        </a>
        <a
          href="#!"
          class="block w-full cursor-pointer border-b border-neutral-200 px-6 py-2 transition duration-500 hover:bg-neutral-100 hover:text-neutral-500 focus:bg-neutral-200 focus:text-neutral-600 focus:outline-none focus:ring-0">
          A third link item
        </a>
        <a
          href="#!"
          class="block w-full cursor-pointer border-b border-neutral-200 px-6 py-2 transition duration-500 hover:bg-neutral-100 hover:text-neutral-500 focus:bg-neutral-200 focus:text-neutral-600 focus:outline-none focus:ring-0">
          A fourth link item
        </a>
        <a
          href="#!"
          class="block w-full cursor-default rounded-b-lg border-neutral-200 px-6 py-2 text-neutral-400 focus:outline-none focus:ring-0">
          A disabled link item
        </a>
      </div>

      <br />
      <br />
      <br />

      <p class="mb-4">Buttons</p>
      <div
        class="w-96 rounded-lg border border-neutral-200 bg-white text-neutral-900">
        <button
          aria-current="true"
          type="button"
          class="w-full cursor-pointer rounded-t-lg border-b border-neutral-200 bg-primary px-6 py-2 text-left text-white">
          The current link item
        </button>
        <button
          type="button"
          class="w-full cursor-pointer border-b border-neutral-200 px-6 py-2 text-left transition duration-500 hover:bg-neutral-100 hover:text-neutral-500 focus:bg-neutral-200 focus:text-neutral-600 focus:outline-none focus:ring-0">
          A second link item
        </button>
        <button
          type="button"
          class="w-full cursor-pointer border-b border-neutral-200 px-6 py-2 text-left transition duration-500 hover:bg-neutral-100 hover:text-neutral-500 focus:bg-neutral-200 focus:text-neutral-600 focus:outline-none focus:ring-0">
          A third link item
        </button>
        <button
          type="button"
          class="w-full cursor-pointer border-b border-neutral-200 px-6 py-2 text-left transition duration-500 hover:bg-neutral-100 hover:text-neutral-500 focus:bg-neutral-200 focus:text-neutral-600 focus:outline-none focus:ring-0">
          A fourth link item
        </button>
        <button
          disabled=""
          type="button"
          class="w-full cursor-default rounded-b-lg border-neutral-200 px-6 py-2 text-left text-neutral-400 focus:outline-none focus:ring-0">
          A disabled link item
        </button>
      </div>

      <br />
      <br />
      <br />

      <p class="mb-4">Flush</p>
      <ul class="w-96 rounded-lg bg-white text-neutral-900">
        <li class="w-full rounded-t-lg border-b border-neutral-200 px-6 py-2">
          An item
        </li>
        <li class="w-full border-b border-neutral-200 px-6 py-2">
          A second item
        </li>
        <li class="w-full border-b border-neutral-200 px-6 py-2">
          A third item
        </li>
        <li class="w-full border-b border-neutral-200 px-6 py-2">
          A fourth item
        </li>
        <li class="w-full rounded-b-lg px-6 py-2">And a fifth one</li>
      </ul>

      <br />
      <br />
      <br />
    </div>
    <!-- End your project here-->

    <!-- Theme switcher -->
    <script type="module" src="../../../src/js/theme.js"></script>
    <!-- MDB -->
    <script type="module" src="../../../src/js/index.umd.js"></script>
    <!-- PRISM -->
    <script type="module" src="../../dev/js/new-prism.js"></script>
    <!-- MDB SNIPPET -->
    <script type="module" src="../../dev/js/dist/mdbsnippet.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
