<!--
--------------------------------------------------------------------------
TW Elements is an open-source UI kit of advanced components for TailwindCSS.
Copyright © 2023 MDBootstrap.com

Unless a custom, individually assigned license has been granted, this program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
In addition, a custom license may be available upon request, subject to the terms and conditions of that license. Please contact tailwind@mdbootstrap.com for more information on obtaining a custom license.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

If you would like to purchase a COMMERCIAL, non-AGPL license for TWE, please check out our pricing: https://tw-elements.com/pro/
--------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="TW Elements" />
    <title>Placeholder</title>

    <!-- Roboto font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../../../src/scss/tailwind.scss" />
    <!-- PRISM -->
    <link rel="stylesheet" href="../../dev/css/new-prism.css" />
    <!-- Theme -->
    <meta name="theme-color" content="#f8fafc" />
    <script>
      try {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
          document
            .querySelector('meta[name="theme-color"]')
            .setAttribute("content", "#0B1120");
        } else {
          document.documentElement.classList.remove("dark");
        }
      } catch (_) {}
    </script>
    <!-- Custom styles -->
    <style></style>
  </head>

  <body class="dark:bg-neutral-800">
    <!-- Start your project here-->
    <div class="mx-10 lg:mx-64">
      <br />
      <br />
      <br />

      <p class="mb-4 dark:text-white">Basic example</p>
      <hr class="mb-10" />

      <div class="flex flex-wrap justify-between">
        <div class="max-w-xs rounded-lg bg-white shadow-lg dark:bg-neutral-700">
          <img
            src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
            class="rounded-t-lg"
            alt="..." />
          <div class="p-6">
            <h5
              class="mb-2 text-xl font-medium text-neutral-900 dark:text-white">
              Card title
            </h5>
            <p class="mb-4 text-base text-neutral-700 dark:text-white">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a
              href="#"
              class="rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
              >Go somewhere</a
            >
          </div>
        </div>
        <div
          class="max-w-xs rounded-lg bg-white shadow-lg dark:bg-neutral-700"
          aria-hidden="true">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp"
            class="rounded-t-lg"
            alt="..." />
          <div class="p-6">
            <h5
              class="mb-2 animate-pulse text-xl font-medium text-neutral-900 dark:text-white">
              <span
                class="inline-block min-h-[1em] w-6/12 flex-auto cursor-wait bg-current align-middle opacity-50"></span>
            </h5>
            <p
              class="mb-4 animate-pulse text-base text-neutral-700 dark:text-white">
              <span
                class="inline-block min-h-[1em] w-7/12 flex-auto cursor-wait bg-current align-middle opacity-50"></span>
              <span
                class="inline-block min-h-[1em] w-4/12 flex-auto cursor-wait bg-current align-middle opacity-50"></span>
              <span
                class="inline-block min-h-[1em] w-4/12 flex-auto cursor-wait bg-current align-middle opacity-50"></span>
              <span
                class="inline-block min-h-[1em] w-6/12 flex-auto cursor-wait bg-current align-middle opacity-50"></span>
              <span
                class="inline-block min-h-[1em] w-8/12 flex-auto cursor-wait bg-current align-middle opacity-50"></span>
            </p>
            <a
              href="#"
              tabindex="-1"
              class="inline-block min-h-[1em] w-6/12 flex-auto cursor-wait rounded bg-primary px-6 py-2.5 align-middle text-xs font-medium uppercase leading-tight text-white opacity-50 shadow-md transition duration-150 ease-in-out before:inline-block before:content-[''] hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"></a>
          </div>
        </div>
      </div>

      <br />
      <br />
      <br />

      <p class="mb-4 dark:text-white">How it works</p>
      <hr class="mb-10" />

      <p
        aria-hidden="true"
        class="mb-4 text-base text-neutral-700 dark:text-white">
        <span
          class="inline-block min-h-[1em] w-6/12 flex-auto cursor-wait bg-current align-middle opacity-50"></span>
      </p>
      <a
        href="#"
        tabindex="-1"
        class="inline-block min-h-[1em] w-4/12 flex-auto cursor-wait rounded bg-primary px-6 py-2.5 align-middle text-xs font-medium uppercase leading-tight text-white opacity-50 shadow-md transition duration-150 ease-in-out before:inline-block before:content-[''] hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
        aria-hidden="true"></a>

      <br />
      <br />
      <br />

      <p class="mb-4 dark:text-white">Width</p>
      <hr class="mb-10" />

      <span
        class="inline-block min-h-[1em] w-6/12 flex-auto cursor-wait bg-current align-middle text-base text-neutral-700 opacity-50 dark:text-white"></span>
      <span
        class="inline-block min-h-[1em] w-9/12 cursor-wait bg-current align-middle text-base text-neutral-700 opacity-50 dark:text-white"></span>
      <span
        class="inline-block min-h-[1em] cursor-wait bg-current align-middle text-base text-neutral-700 opacity-50 dark:text-white"
        style="width: 25%"></span>

      <br />
      <br />
      <br />

      <p class="mb-4 dark:text-white">Colors</p>
      <hr class="mb-10" />

      <span
        class="inline-block min-h-[1em] w-full flex-auto cursor-wait bg-current align-middle text-base text-neutral-700 opacity-50 dark:text-white"></span>
      <span
        class="inline-block min-h-[1em] w-full flex-auto cursor-wait bg-primary align-middle opacity-50"></span>
      <span
        class="inline-block min-h-[1em] w-full flex-auto cursor-wait bg-neutral-400 align-middle opacity-50"></span>
      <span
        class="inline-block min-h-[1em] w-full flex-auto cursor-wait bg-green-600 align-middle opacity-50"></span>
      <span
        class="inline-block min-h-[1em] w-full flex-auto cursor-wait bg-red-600 align-middle opacity-50"></span>
      <span
        class="inline-block min-h-[1em] w-full flex-auto cursor-wait bg-yellow-500 align-middle opacity-50"></span>
      <span
        class="inline-block min-h-[1em] w-full flex-auto cursor-wait bg-sky-400 align-middle opacity-50"></span>
      <span
        class="inline-block min-h-[1em] w-full flex-auto cursor-wait bg-neutral-100 align-middle opacity-50"></span>
      <span
        class="inline-block min-h-[1em] w-full flex-auto cursor-wait bg-neutral-900 align-middle opacity-50"></span>

      <br />
      <br />
      <br />

      <p class="mb-4 dark:text-white">Sizing</p>
      <hr class="mb-10" />

      <span
        class="inline-block min-h-[1.2em] w-full flex-auto cursor-wait bg-current align-middle text-base text-neutral-700 opacity-50 dark:text-white"></span>
      <span
        class="inline-block min-h-[1em] w-full flex-auto cursor-wait bg-current align-middle text-base text-neutral-700 opacity-50 dark:text-white"></span>
      <span
        class="inline-block min-h-[0.8em] w-full flex-auto cursor-wait bg-current align-middle text-base text-neutral-700 opacity-50 dark:text-white"></span>
      <span
        class="inline-block min-h-[0.6em] w-full flex-auto cursor-wait bg-current align-middle text-base text-neutral-700 opacity-50 dark:text-white"></span>

      <br />
      <br />
      <br />

      <p class="mb-4 dark:text-white">Animation</p>
      <hr class="mb-10" />

      <p class="mb-4 animate-pulse">
        <span
          class="inline-block min-h-[1em] w-full flex-auto cursor-wait bg-current align-middle text-base text-neutral-700 opacity-50 dark:text-white"></span>
      </p>

      <p
        class="mb-4 animate-[placeholder-wave_2s_linear_infinite] [mask-size:200%_100%]"
        style="
          -webkit-mask-image: linear-gradient(130deg, #000 55%, rgba(0, 0, 0, 0.8) 75%, #000 95%);
          mask-image: linear-gradient(130deg, #000 55%, rgba(0, 0, 0, 0.8) 75%, #000 95%);
        ">
        <span
          class="inline-block min-h-[1em] w-full flex-auto cursor-wait bg-current align-middle text-base text-neutral-700 opacity-50 dark:text-white"></span>
      </p>

      <br />
      <br />
      <br />
    </div>
    <!-- End your project here-->

    <!-- Theme switcher -->
    <script type="module" src="../../../src/js/theme.js"></script>
    <!-- MDB -->
    <script type="module" src="../../../src/js/index.umd.js"></script>
    <!-- PRISM -->
    <script type="module" src="../../dev/js/new-prism.js"></script>
    <!-- MDB SNIPPET -->
    <script type="module" src="../../dev/js/dist/mdbsnippet.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
