<!--
--------------------------------------------------------------------------
TW Elements is an open-source UI kit of advanced components for TailwindCSS.
Copyright © 2023 MDBootstrap.com

Unless a custom, individually assigned license has been granted, this program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
In addition, a custom license may be available upon request, subject to the terms and conditions of that license. Please contact tailwind@mdbootstrap.com for more information on obtaining a custom license.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

If you would like to purchase a COMMERCIAL, non-AGPL license for TWE, please check out our pricing: https://tw-elements.com/pro/
--------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="TW Elements" />
    <title>Album example · Bootstrap v5.1</title>

    <!-- Roboto font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../../../src/scss/tailwind.scss" />
    <!-- PRISM -->
    <link rel="stylesheet" href="../../dev/css/new-prism.css" />
    <!-- Theme -->
    <meta name="theme-color" content="#f8fafc" />
    <script>
      try {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
          document
            .querySelector('meta[name="theme-color"]')
            .setAttribute("content", "#0B1120");
        } else {
          document.documentElement.classList.remove("dark");
        }
      } catch (_) {}
    </script>
    <!-- Custom styles -->
    <style></style>
  </head>

  <body class="dark:bg-neutral-800">
    <!-- Start your project here-->
    <div class="mx-96">
      <br />
      <br />
      <br />

      <div class="h-2.5 w-full rounded-full bg-neutral-200">
        <div class="h-2.5 rounded-l-full bg-primary" style="width: 45%"></div>
      </div>

      <br />
      <br />
      <br />

      <div class="mb-1 text-base font-medium">Small</div>
      <div class="h-1.5 w-full rounded-full bg-neutral-200">
        <div class="h-1.5 rounded-l-full bg-primary" style="width: 20%"></div>
      </div>

      <div class="mb-1 text-base font-medium">Default</div>
      <div class="h-2.5 w-full rounded-full bg-neutral-200">
        <div class="h-2.5 rounded-l-full bg-primary" style="width: 40%"></div>
      </div>

      <div class="mb-1 text-lg font-medium">Large</div>
      <div class="h-4 w-full rounded-full bg-neutral-200">
        <div class="h-4 rounded-l-full bg-primary" style="width: 60%"></div>
      </div>

      <br />
      <br />
      <br />

      <div class="w-full rounded-full bg-neutral-200">
        <div
          class="rounded-l-full bg-primary p-0.5 text-center text-xs font-medium leading-none text-primary-100"
          style="width: 45%">
          45%
        </div>
      </div>

      <br />
      <br />
      <br />
    </div>
    <!-- End your project here-->

    <!-- Theme switcher -->
    <script type="module" src="../../../src/js/theme.js"></script>
    <!-- MDB -->
    <script type="module" src="../../../src/js/index.umd.js"></script>
    <!-- PRISM -->
    <script type="module" src="../../dev/js/new-prism.js"></script>
    <!-- MDB SNIPPET -->
    <script type="module" src="../../dev/js/dist/mdbsnippet.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
