<!--
--------------------------------------------------------------------------
TW Elements is an open-source UI kit of advanced components for TailwindCSS.
Copyright © 2023 MDBootstrap.com

Unless a custom, individually assigned license has been granted, this program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
In addition, a custom license may be available upon request, subject to the terms and conditions of that license. Please contact tailwind@mdbootstrap.com for more information on obtaining a custom license.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

If you would like to purchase a COMMERCIAL, non-AGPL license for TWE, please check out our pricing: https://tw-elements.com/pro/
--------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="TW Elements" />
    <title>Stepper</title>

    <!-- Roboto font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../../../src/scss/tailwind.scss" />
    <!-- PRISM -->
    <link rel="stylesheet" href="../../dev/css/new-prism.css" />
    <!-- Theme -->
    <meta name="theme-color" content="#f8fafc" />
    <script>
      try {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
          document
            .querySelector('meta[name="theme-color"]')
            .setAttribute("content", "#0B1120");
        } else {
          document.documentElement.classList.remove("dark");
        }
      } catch (_) {}
    </script>
    <!-- Custom styles -->
    <style></style>
  </head>

  <body class="dark:bg-neutral-800">
    <!-- Start your project here-->
    <div class="mx-10 lg:mx-64">
      <br />
      <br />
      <br />

      <p class="mb-4">Basic example</p>
      <ul
        data-te-stepper-init
        class="relative m-0 flex w-3/4 list-none justify-between overflow-hidden p-0 transition-[height] duration-200 ease-in-out">
        <li
          data-te-stepper-step-ref
          data-te-stepper-step-active
          class="w-[4.5rem] flex-auto">
          <div
            data-te-stepper-head-ref
            class="flex cursor-pointer items-center pl-2 leading-[1.3rem] no-underline after:ml-2 after:h-px after:w-full after:flex-1 after:bg-[#0000001a] after:content-[''] hover:bg-[#dbdbdb] focus:outline-none dark:hover:bg-neutral-600">
            <span
              data-te-stepper-head-icon-ref
              class="mx-2 my-6 flex h-6 w-6 items-center justify-center rounded-full bg-neutral-500 text-sm text-white">
              1
            </span>
            <span
              data-te-stepper-head-text-ref
              class="font-medium after:flex after:text-[0.8rem] after:content-[data-content]">
              step1
            </span>
          </div>
          <div
            data-te-stepper-content-ref
            class="absolute w-full p-4 transition-all duration-500 ease-in-out">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </li>
        <li data-te-stepper-step-ref class="w-[4.5rem] flex-auto">
          <div
            data-te-stepper-head-ref
            class="flex cursor-pointer items-center leading-[1.3rem] no-underline before:mr-2 before:h-px before:w-full before:flex-1 before:bg-[#0000001a] before:content-[''] after:ml-2 after:h-px after:w-full after:flex-1 after:bg-[#0000001a] after:content-[''] hover:bg-[#dbdbdb] focus:outline-none dark:hover:bg-neutral-600">
            <span
              data-te-stepper-head-icon-ref
              class="mx-2 my-6 flex h-6 w-6 items-center justify-center rounded-full bg-neutral-500 text-sm text-white">
              2
            </span>
            <span
              data-te-stepper-head-text-ref
              class="after:flex after:text-[0.8rem] after:content-[data-content]">
              step2
            </span>
          </div>
          <div
            data-te-stepper-content-ref
            class="absolute left-0 w-full translate-x-[150%] p-4 transition-all duration-500 ease-in-out">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </div>
        </li>
        <li data-te-stepper-step-ref class="w-[4.5rem] flex-auto">
          <div
            data-te-stepper-head-ref
            class="flex cursor-pointer items-center pr-2 leading-[1.3rem] no-underline before:mr-2 before:h-px before:w-full before:flex-1 before:bg-[#0000001a] before:content-[''] hover:bg-[#dbdbdb] focus:outline-none dark:hover:bg-neutral-600">
            <span
              data-te-stepper-head-icon-ref
              class="mx-2 my-6 flex h-6 w-6 items-center justify-center rounded-full bg-neutral-500 text-sm text-white">
              3
            </span>
            <span
              data-te-stepper-head-text-ref
              class="after:flex after:text-[0.8rem] after:content-[data-content]">
              step3
            </span>
          </div>
          <div
            data-te-stepper-content-ref
            class="absolute left-0 w-full translate-x-[150%] p-4 transition-all duration-500 ease-in-out">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </div>
        </li>
      </ul>

      <br />
      <br />
      <br />

      <p class="mb-4">Vertical stepper</p>
      <ul
        class="relative m-0 w-3/4 list-none overflow-hidden p-0 transition-[height] duration-200 ease-in-out"
        data-te-stepper-init
        data-te-stepper-type="vertical">
        <li
          data-te-stepper-step-ref
          data-te-stepper-step-active
          class="relative h-fit after:absolute after:left-9 after:top-12 after:mt-px after:h-[calc(100%-2.45rem)] after:w-px after:bg-[#0000001a] after:content-['']">
          <div
            data-te-stepper-head-ref
            class="flex cursor-pointer items-center p-6 leading-[1.3rem] no-underline hover:bg-[#dbdbdb] focus:outline-none dark:hover:bg-neutral-600">
            <span
              data-te-stepper-head-icon-ref
              class="mr-3 flex h-6 w-6 items-center justify-center rounded-full bg-neutral-500 text-sm text-white">
              1
            </span>
            <span
              data-te-stepper-head-text-ref
              class="after:absolute after:flex after:text-[0.8rem] after:content-[data-content]">
              step1
            </span>
          </div>
          <div
            data-te-stepper-content-ref
            class="left-0 overflow-hidden pb-6 pl-[3.75rem] pr-6 transition-all duration-300 ease-in-out">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </li>
        <li
          data-te-stepper-step-ref
          class="relative h-fit after:absolute after:left-9 after:top-12 after:mt-px after:h-[calc(100%-2.45rem)] after:w-px after:bg-[#0000001a] after:content-['']">
          <div
            data-te-stepper-head-ref
            class="flex cursor-pointer items-center p-6 leading-[1.3rem] no-underline hover:bg-[#dbdbdb] focus:outline-none dark:hover:bg-neutral-600">
            <span
              data-te-stepper-head-icon-ref
              class="mr-3 flex h-6 w-6 items-center justify-center rounded-full bg-neutral-500 text-sm text-white">
              2
            </span>
            <span
              data-te-stepper-head-text-ref
              class="after:absolute after:flex after:text-[0.8rem] after:content-[data-content]">
              step2
            </span>
          </div>
          <div
            data-te-stepper-content-ref
            class="left-0 overflow-hidden pb-6 pl-[3.75rem] pr-6 transition-all duration-300 ease-in-out">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </div>
        </li>
        <li data-te-stepper-step-ref class="relative h-fit">
          <div
            data-te-stepper-head-ref
            class="flex cursor-pointer items-center p-6 leading-[1.3rem] no-underline hover:bg-[#dbdbdb] focus:outline-none dark:hover:bg-neutral-600">
            <span
              data-te-stepper-head-icon-ref
              class="mr-3 flex h-6 w-6 items-center justify-center rounded-full bg-neutral-500 text-sm text-white">
              3
            </span>
            <span
              data-te-stepper-head-text-ref
              class="after:absolute after:flex after:text-[0.8rem] after:content-[data-content]">
              step3
            </span>
          </div>
          <div
            data-te-stepper-content-ref
            class="left-0 overflow-hidden pb-6 pl-[3.75rem] pr-6 transition-all duration-300 ease-in-out">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </div>
        </li>
      </ul>

      <br />
      <br />
      <br />
    </div>
    <!-- End your project here-->

    <!-- Theme switcher -->
    <script type="module" src="../../../src/js/theme.js"></script>
    <!-- MDB -->
    <script type="module" src="../../../src/js/index.umd.js"></script>
    <!-- PRISM -->
    <script type="module" src="../../dev/js/new-prism.js"></script>
    <!-- MDB SNIPPET -->
    <script type="module" src="../../dev/js/dist/mdbsnippet.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
