<!--
--------------------------------------------------------------------------
TW Elements is an open-source UI kit of advanced components for TailwindCSS.
Copyright © 2023 MDBootstrap.com

Unless a custom, individually assigned license has been granted, this program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
In addition, a custom license may be available upon request, subject to the terms and conditions of that license. Please contact tailwind@mdbootstrap.com for more information on obtaining a custom license.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

If you would like to purchase a COMMERCIAL, non-AGPL license for TWE, please check out our pricing: https://tw-elements.com/pro/
--------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="TW Elements" />
    <title>Album example · Bootstrap v5.1</title>

    <!-- Roboto font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../../../src/scss/tailwind.scss" />
    <!-- PRISM -->
    <link rel="stylesheet" href="../../dev/css/new-prism.css" />
    <!-- Theme -->
    <meta name="theme-color" content="#f8fafc" />
    <script>
      try {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
          document
            .querySelector('meta[name="theme-color"]')
            .setAttribute("content", "#0B1120");
        } else {
          document.documentElement.classList.remove("dark");
        }
      } catch (_) {}
    </script>
    <!-- Custom styles -->
    <style></style>
  </head>

  <body class="dark:bg-neutral-800">
    <!-- Start your project here-->
    <div class="mx-6 md:mx-12 xl:mx-96">
      <br />
      <br />
      <br />

      <ol class="border-l border-neutral-300">
        <li>
          <div class="flex-start flex items-center pt-3">
            <div class="-ml-1 mr-3 h-2 w-2 rounded-full bg-neutral-300"></div>
            <p class="text-sm text-neutral-500">01.07.2021</p>
          </div>
          <div class="mb-6 ml-4 mt-0.5">
            <h4 class="mb-1.5 text-xl font-semibold text-neutral-800">
              Title of section 1
            </h4>
            <p class="mb-3 text-neutral-500">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              scelerisque diam non nisi semper, et elementum lorem ornare.
              Maecenas placerat facilisis mollis. Duis sagittis ligula in
              sodales vehicula.
            </p>
          </div>
        </li>
        <li>
          <div class="flex-start flex items-center pt-2">
            <div class="-ml-1 mr-3 h-2 w-2 rounded-full bg-neutral-300"></div>
            <p class="text-sm text-neutral-500">13.09.2021</p>
          </div>
          <div class="mb-6 ml-4 mt-0.5">
            <h4 class="mb-1.5 text-xl font-semibold text-neutral-800">
              Title of section 2
            </h4>
            <p class="mb-3 text-neutral-500">
              Libero expedita explicabo eius fugiat quia aspernatur autem
              laudantium error architecto recusandae natus sapiente sit nam
              eaque, consectetur porro molestiae ipsam an deleniti.
            </p>
          </div>
        </li>
        <li>
          <div class="flex-start flex items-center pt-2">
            <div class="-ml-1 mr-3 h-2 w-2 rounded-full bg-neutral-300"></div>
            <p class="text-sm text-neutral-500">25.11.2021</p>
          </div>
          <div class="ml-4 mt-0.5 pb-5">
            <h4 class="mb-1.5 text-xl font-semibold text-neutral-800">
              Title of section 3
            </h4>
            <p class="mb-3 text-neutral-500">
              Voluptatibus temporibus esse illum eum aspernatur, fugiat suscipit
              natus! Eum corporis illum nihil officiis tempore. Excepturi illo
              natus libero sit doloremque, laborum molestias rerum pariatur quam
              ipsam necessitatibus incidunt, explicabo.
            </p>
          </div>
        </li>
      </ol>

      <br />
      <br />
      <br />

      <ol
        class="border-l border-neutral-300 md:flex md:justify-center md:gap-6 md:border-l-0 md:border-t">
        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div
              class="-ml-1 mr-3 h-2 w-2 rounded-full bg-neutral-300 md:-mt-1 md:ml-0 md:mr-0"></div>
            <p class="mt-2 text-sm text-neutral-500">01.07.2021</p>
          </div>
          <div class="ml-4 mt-0.5 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold text-neutral-800">
              Title of section 1
            </h4>
            <p class="mb-3 text-neutral-500">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              scelerisque diam non nisi semper, et elementum lorem ornare.
              Maecenas placerat facilisis mollis. Duis sagittis ligula in
              sodales vehicula.
            </p>
          </div>
        </li>
        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div
              class="-ml-1 mr-3 h-2 w-2 rounded-full bg-neutral-300 md:-mt-1 md:ml-0 md:mr-0"></div>
            <p class="mt-2 text-sm text-neutral-500">13.09.2021</p>
          </div>
          <div class="ml-4 mt-0.5 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold text-neutral-800">
              Title of section 2
            </h4>
            <p class="mb-3 text-neutral-500">
              Libero expedita explicabo eius fugiat quia aspernatur autem
              laudantium error architecto recusandae natus sapiente sit nam
              eaque, consectetur porro molestiae ipsam an deleniti.
            </p>
          </div>
        </li>
        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div
              class="-ml-1 mr-3 h-2 w-2 rounded-full bg-neutral-300 md:-mt-1 md:ml-0 md:mr-0"></div>
            <p class="mt-2 text-sm text-neutral-500">25.11.2021</p>
          </div>
          <div class="ml-4 mt-0.5 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold text-neutral-800">
              Title of section 3
            </h4>
            <p class="mb-3 text-neutral-500">
              Voluptatibus temporibus esse illum eum aspernatur, fugiat suscipit
              natus! Eum corporis illum nihil officiis tempore. Excepturi illo
              natus libero sit doloremque, laborum molestias rerum pariatur quam
              ipsam necessitatibus incidunt, explicabo.
            </p>
          </div>
        </li>
      </ol>

      <br />
      <br />
      <br />

      <ol class="border-l-2 border-primary">
        <li>
          <div class="flex-start flex items-center">
            <div
              class="-ml-2 -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary"></div>
            <h4 class="-mt-2 text-xl font-semibold text-neutral-800">
              Title of section 1
            </h4>
          </div>
          <div class="mb-6 ml-6 pb-6">
            <a
              href="#!"
              class="text-sm text-primary transition duration-300 ease-in-out hover:text-primary-700 focus:text-primary-800"
              >4 February, 2022</a
            >
            <p class="mb-4 mt-2 text-neutral-700">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <button
              type="button"
              class="inline-block rounded bg-primary px-4 py-1.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">
              Read more
            </button>
          </div>
        </li>
        <li>
          <div class="flex-start flex items-center">
            <div
              class="-ml-2 -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary"></div>
            <h4 class="-mt-2 text-xl font-semibold text-neutral-800">
              Title of section 2
            </h4>
          </div>
          <div class="mb-6 ml-6 pb-6">
            <a
              href="#!"
              class="text-sm text-primary transition duration-300 ease-in-out hover:text-primary-700 focus:text-primary-800"
              >12 January, 2022</a
            >
            <p class="mb-4 mt-2 text-neutral-700">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt.
            </p>
            <button
              type="button"
              class="inline-block rounded bg-primary px-4 py-1.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">
              Read more
            </button>
          </div>
        </li>
        <li>
          <div class="flex-start flex items-center">
            <div
              class="-ml-2 -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary"></div>
            <h4 class="-mt-2 text-xl font-semibold text-neutral-800">
              Title of section 3
            </h4>
          </div>
          <div class="mb-6 ml-6 pb-6">
            <a
              href="#!"
              class="text-sm text-primary transition duration-300 ease-in-out hover:text-primary-700 focus:text-primary-800"
              >27 December, 2021</a
            >
            <p class="mb-4 mt-2 text-neutral-700">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos
              dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt in culpa qui officia deserunt mollitia
              animi, id est laborum et dolorum fuga. Et harum quidem rerum
              facilis est et expedita distinctio.
            </p>
            <button
              type="button"
              class="inline-block rounded bg-primary px-4 py-1.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">
              Read more
            </button>
          </div>
        </li>
      </ol>

      <br />
      <br />
      <br />

      <h3 class="-ml-3 mb-6 text-2xl font-bold text-neutral-700">
        Latest News
      </h3>

      <ol class="border-l-2 border-purple-600">
        <li>
          <div class="flex-start md:flex">
            <div
              class="-ml-3 flex h-6 w-6 items-center justify-center rounded-full bg-purple-600">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                class="h-3 w-3 text-white"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path
                  fill="currentColor"
                  d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"></path>
              </svg>
            </div>
            <div
              class="mb-10 ml-6 block max-w-md rounded-lg bg-neutral-100 p-6 shadow-lg">
              <div class="mb-4 flex justify-between">
                <a
                  href="#!"
                  class="text-sm font-medium text-purple-600 transition duration-300 ease-in-out hover:text-purple-700 focus:text-purple-800"
                  >New Web Design</a
                >
                <a
                  href="#!"
                  class="text-sm font-medium text-purple-600 transition duration-300 ease-in-out hover:text-purple-700 focus:text-purple-800"
                  >04 / 02 / 2022</a
                >
              </div>
              <p class="mb-6 text-neutral-700">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                scelerisque diam non nisi semper, et elementum lorem ornare.
                Maecenas placerat facilisis mollis. Duis sagittis ligula in
                sodales vehicula.
              </p>
              <button
                type="button"
                class="inline-block rounded bg-purple-600 px-4 py-1.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg"
                data-te-ripple-init>
                Preview
              </button>
              <button
                type="button"
                class="inline-block rounded border-2 border-purple-600 px-3.5 py-1 text-xs font-medium uppercase leading-tight text-purple-600 transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                data-te-ripple-init>
                See demo
              </button>
            </div>
          </div>
        </li>
        <li>
          <div class="flex-start md:flex">
            <div
              class="-ml-3 flex h-6 w-6 items-center justify-center rounded-full bg-purple-600">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                class="h-3 w-3 text-white"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path
                  fill="currentColor"
                  d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"></path>
              </svg>
            </div>
            <div
              class="mb-10 ml-6 block max-w-md rounded-lg bg-neutral-100 p-6 shadow-lg">
              <div class="mb-4 flex justify-between">
                <a
                  href="#!"
                  class="text-sm font-medium text-purple-600 transition duration-300 ease-in-out hover:text-purple-700 focus:text-purple-800"
                  >21 000 Job Seekers</a
                >
                <a
                  href="#!"
                  class="text-sm font-medium text-purple-600 transition duration-300 ease-in-out hover:text-purple-700 focus:text-purple-800"
                  >12 / 01 / 2022</a
                >
              </div>
              <p class="mb-6 text-neutral-700">
                Libero expedita explicabo eius fugiat quia aspernatur autem
                laudantium error architecto recusandae natus sapiente sit nam
                eaque, consectetur porro molestiae ipsam an deleniti.
              </p>
              <button
                type="button"
                class="inline-block rounded bg-purple-600 px-4 py-1.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg"
                data-te-ripple-init>
                Preview
              </button>
              <button
                type="button"
                class="inline-block rounded border-2 border-purple-600 px-3.5 py-1 text-xs font-medium uppercase leading-tight text-purple-600 transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                data-te-ripple-init>
                See demo
              </button>
            </div>
          </div>
        </li>
        <li>
          <div class="flex-start md:flex">
            <div
              class="-ml-3 flex h-6 w-6 items-center justify-center rounded-full bg-purple-600">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                class="h-3 w-3 text-white"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path
                  fill="currentColor"
                  d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"></path>
              </svg>
            </div>
            <div
              class="mb-10 ml-6 block max-w-md rounded-lg bg-neutral-100 p-6 shadow-lg">
              <div class="mb-4 flex justify-between">
                <a
                  href="#!"
                  class="text-sm font-medium text-purple-600 transition duration-300 ease-in-out hover:text-purple-700 focus:text-purple-800"
                  >Awesome Employers</a
                >
                <a
                  href="#!"
                  class="text-sm font-medium text-purple-600 transition duration-300 ease-in-out hover:text-purple-700 focus:text-purple-800"
                  >21 / 12 / 2021</a
                >
              </div>
              <p class="mb-6 text-neutral-700">
                Voluptatibus temporibus esse illum eum aspernatur, fugiat
                suscipit natus! Eum corporis illum nihil officiis tempore.
                Excepturi illo natus libero sit doloremque, laborum molestias
                rerum pariatur quam ipsam necessitatibus incidunt, explicabo.
              </p>
              <button
                type="button"
                class="inline-block rounded bg-purple-600 px-4 py-1.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg"
                data-te-ripple-init>
                Preview
              </button>
              <button
                type="button"
                class="inline-block rounded border-2 border-purple-600 px-3.5 py-1 text-xs font-medium uppercase leading-tight text-purple-600 transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                data-te-ripple-init>
                See demo
              </button>
            </div>
          </div>
        </li>
      </ol>

      <br />
      <br />
      <br />
    </div>
    <!-- End your project here-->

    <!-- Theme switcher -->
    <script type="module" src="../../../src/js/theme.js"></script>
    <!-- MDB -->
    <script type="module" src="../../../src/js/index.umd.js"></script>
    <!-- PRISM -->
    <script type="module" src="../../dev/js/new-prism.js"></script>
    <!-- MDB SNIPPET -->
    <script type="module" src="../../dev/js/dist/mdbsnippet.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
