<!-- TE -->
<script type="text/javascript" src="/js/index.min.js"></script>
<!-- THEME SWITCHER -->
<script type="text/javascript" src="/js/theme.js"></script>
<!-- PRISM -->
<script type="text/javascript" src="/js/new-prism.js"></script>
<link rel="stylesheet" href="/css/new-prism.css" />

<script>
  class Search {
    constructor(input, icon, list, form, dropdown, count, jsonFile) {
      this.input = input;

      this.list = list;

      this.icon = icon;

      this.form = form;

      this.dropdown = dropdown;

      this.count = count;

      this.data = [];

      this.jsonFile = jsonFile;

      this.searchValue = "";

      this.keycodes = Object.freeze({
        ARROW_UP: 38,
        ARROW_DOWN: 40,
        ENTER: 13,
        SLASH: 191,
        ESCAPE: 27,
      });
    }

    get visibleDropdown() {
      return this.dropdown.style.display === "block";
    }

    get options() {
      return this.list.getElementsByTagName("a");
    }

    get results() {
      const result = this.data.filter((entry) => this.compare(entry));
      return this.sort(result);
    }

    init() {
      fetch("/" + this.jsonFile)
        .then((response) => response.json())
        .then((response) => {
          this.data = [...response];

          //new mdb.PerfectScrollbar(this.list);

          this.bindEvents();
        });
    }

    bindEvents() {
      this.input.addEventListener("input", (e) => this.search(e));

      this.input.addEventListener("focus", (e) => {
        this.icon.classList.add("font-bold");

        if (e.target.value.length > 0) {
          this.search(e);
        }
      });

      this.input.addEventListener("blur", () => {
        this.icon.classList.remove("font-bold");
      });

      this.input.addEventListener("keydown", (e) => {
        if (e.keyCode === this.keycodes.ARROW_DOWN && this.options.length > 0) {
          e.preventDefault();

          this.options[0].focus();
        }
      });

      window.addEventListener("click", (e) => {
        if (this.visibleDropdown && this.isOutside(e.target)) {
          this.toggleDropdown(false);
        }
      });

      window.addEventListener("keydown", (e) => {
        if (
          e.keyCode === this.keycodes.SLASH &&
          e.ctrlKey &&
          e.target !== this.input
        ) {
          e.preventDefault();
          this.input.focus();
        } else if (e.keyCode === this.keycodes.ESCAPE && this.visibleDropdown) {
          this.toggleDropdown(false);
        }
      });
    }

    search(e) {
      this.searchValue = this.normalizeString(
        this.getSearchValue(e.target.value)
      );

      this.toggleDropdown(this.searchValue.length > 0);

      this.renderResults(this.getResultsMarkup());

      this.setupKeyboardNavigation();
    }

    normalizeString(string) {
      return string.trim().toLowerCase();
    }

    getSearchValue(string) {
      if (string.length > 1 && string[0] === "/") return string.slice(1);

      return string;
    }

    toggleDropdown(value) {
      const display = value ? "block" : "none";

      this.dropdown.style.display = display;
    }

    renderResults(markup) {
      this.list.innerHTML = markup;

      this.count.innerHTML = this.results.length;
    }

    getResultsMarkup() {
      return this.results
        .map((result, i) => {
          const keywords = result.keywords.filter(
            (keyword) =>
              this.searchValue.length > 0 && keyword.match(this.searchValue)
          );

          return `
      <li class="p-0 pt-2">
        <a class="py-1" href="${result.href}">
          <p class="uppercase text-gray-600 dark:text-gray-100 mb-0">${this.highlightSearch(
            result.name,
            this.searchValue
          )}</p>
          <p class="text-sm mb-0 pb-2 text-gray-400 font-semibold">Category: ${this.highlightSearch(
            result.category,
            this.searchValue
          )}</p>
          ${
            keywords.length > 0
              ? `<p class="text-sm text-gray-400 mb-0 pb-2 max-w-full whitespace-nowrap	text-overflow-ellipsis overflow-hidden">${this.formatKeywords(
                  keywords
                )}</p>`
              : ""
          }
        </a>
        ${
          i !== this.results.length - 1
            ? '<hr class="m-0 p-0 w-50 dark:border-gray-600">'
            : ""
        }
      </li>
    `;
        })
        .join("\n");
    }

    compare({ name, keywords, category }) {
      return (
        this.searchValue === "/" ||
        this.normalizeString(name).match(this.searchValue) ||
        this.normalizeString(category).match(this.searchValue) ||
        keywords.find((keyword) => keyword.match(this.searchValue))
      );
    }

    sort(entries) {
      return [
        ...entries
          .filter((e) => e.priority && e.priority[this.searchValue])
          .sort((a, b) =>
            a.priority[this.searchValue] > b.priority[this.searchValue] ? 1 : -1
          ),
        ...entries.filter((e) => !e.priority || !e.priority[this.searchValue]),
      ];
    }

    highlightSearch(string) {
      const searchIndex = this.normalizeString(string).indexOf(
        this.searchValue
      );

      if (searchIndex === -1) return string;

      return `${string.slice(
        0,
        searchIndex
      )}<u class="font-medium	text-blue-600 dark:text-blue-400">${string.slice(
        searchIndex,
        searchIndex + this.searchValue.length
      )}</u>${string.slice(searchIndex + this.searchValue.length)}`;
    }

    formatKeywords(keywords) {
      return keywords
        .map((keyword) => this.highlightSearch(keyword))
        .join(", ");
    }

    setupKeyboardNavigation() {
      Array.from(this.options).forEach((option, i) => {
        option.addEventListener("keydown", (e) => this.focusNextOption(e, i));
      });
    }

    focusNextOption(e, index) {
      let direction;

      if (e.keyCode === this.keycodes.ARROW_DOWN) direction = 1;
      else if (e.keyCode === this.keycodes.ARROW_UP) direction = -1;
      else return;

      e.preventDefault();

      const next =
        index + direction > this.options.length - 1
          ? 0
          : index + direction < 0
          ? this.options.length - 1
          : index + direction;

      this.options[next].focus();
    }

    isOutside(element) {
      if (element === this.form) return false;

      if (element === document.body) return true;

      return this.isOutside(element.parentNode);
    }
  }

  (function () {
    const searchInput = document.getElementById("mdb-5-search-input");
    const searchIcon = document.getElementById("mdb-5-search-icon");
    const searchList = document.getElementById("mdb-5-search-list");
    const searchForm = document.getElementById("mdb-5-search-container");
    const searchDropdown = document.getElementById("mdb-5-search-dropdown");
    const searchCount = document.getElementById("mdb-5-search-count");

    let searchJsonFile;
    searchJsonFile = "search.json";

    var scripts = document.getElementsByTagName("script"),
      src = scripts[scripts.length - 1].src;

    const search = new Search(
      searchInput,
      searchIcon,
      searchList,
      searchForm,
      searchDropdown,
      searchCount,
      searchJsonFile
    );

    search.init();
  })();

  if (document.getElementById("close_icon")) {
    // grab everything we need
    const btn = document.getElementById("hamburger");
    const sidebar = document.getElementById("sidebar");
    const close = document.getElementById("close_icon");

    // add our event listener for the click
    btn.addEventListener("click", () => {
      sidebar.classList.toggle("-translate-x-full");
    });

    close.addEventListener("click", () => {
      sidebar.classList.add("-translate-x-full");
    });
  }

  //Scrollspy

  (function () {
    let menuSection = document.querySelectorAll("menu li");

    if (menuSection.length == 0) return;

    // for clickable event
    menuSection.forEach((v) => {
      v.onclick = () => {
        setTimeout(() => {
          menuSection.forEach((j) => j.classList.remove("active"));
          v.classList.add("active");
        }, 300);
      };
    });

    // for window scrolldown event

    window.onscroll = () => {
      let mainSection = document.querySelectorAll("main h2");

      mainSection.forEach((v, i) => {
        let rect = v.getBoundingClientRect().y;

        if (rect < window.innerHeight + -940) {
          menuSection.forEach((v) => v.classList.remove("active"));
          if (!menuSection[i]) {
            return;
          }
          menuSection[i].classList.add("active");
        }
      });
    };
  })();

  const clip = document.querySelectorAll(".clip");
  for (let i = 0; i < clip.length; i++) {
    clip[i].addEventListener("mouseenter", function (e) {
      clip[i].play();
    });
    clip[i].addEventListener("mouseout", function (e) {
      clip[i].pause();
    });
  }
</script>

<script>
  var popoverTriggerList = [].slice.call(
    document.querySelectorAll('[data-te-toggle="popover"]')
  );
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new te.Popover(popoverTriggerEl);
  });

  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-te-toggle="tooltip"]')
  );

  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new te.Tooltip(tooltipTriggerEl);
  });
</script>
<!-- TIMEPICKER SCRIPTS -->
<script>
  const pickerInline = document.querySelector("#timepicker-inline-12");
  const timepickerMaxMin = new te.Timepicker(pickerInline, {
    format12: true,
    inline: true,
  });

  const pickerInline2 = document.querySelector("#timepicker-inline-24");
  const timepickerMaxMin2 = new te.Timepicker(pickerInline2, {
    format24: true,
    inline: true,
  });

  //Default time string PM
  const pickerStartedPM = document.querySelector(
    "#timepicker-default-time-string-pm "
  );
  const tmStartedPM = new te.Timepicker(pickerStartedPM, {
    defaultTime: "02:12 PM",
  });

  //Default time string AM
  const pickerStartedAM = document.querySelector(
    "#timepicker-default-time-string-am"
  );
  const tmStartedAM = new te.Timepicker(pickerStartedAM, {
    defaultTime: "05:12 AM",
  });

  //Default time without PM/AM
  const pickerStartedWithoutPmAm = document.querySelector(
    "#timepicker-default-time-string-without-pm-am"
  );
  const tmStartedWithoutPmAm = new te.Timepicker(pickerStartedWithoutPmAm, {
    defaultTime: "05:12",
  });

  //Default time with 24h
  const pickerStartedWith24h = document.querySelector(
    "#timepicker-default-time-string-24h"
  );
  const tmStartedWith24h = new te.Timepicker(pickerStartedWith24h, {
    defaultTime: "23:44",
    format24: true,
  });

  //Default time date 12h
  const pickerStartedWithDate12h = document.querySelector(
    "#timepicker-default-time-with-new-date-12h"
  );
  const tmStartedWithDate12h = new te.Timepicker(pickerStartedWithDate12h, {
    defaultTime: new Date(),
  });

  //Default time date 24h
  const pickerStartedWithDate24h = document.querySelector(
    "#timepicker-default-time-with-new-date-24h"
  );
  const tmStartedWithDate24h = new te.Timepicker(pickerStartedWithDate24h, {
    defaultTime: new Date(),
    format24: true,
  });
  const timepickerValue = document.querySelector("#timepicker-value");
  const tminputValue = new te.Timepicker(timepickerValue);

  timepickerValue.addEventListener("input.te.timepicker", (input) => {
    const valueDiv = document.querySelector("#span-input-value");

    valueDiv.innerText = input.target.value;
  });

  const picker = document.querySelector("#timepicker-format");
  const tpFormat24 = new te.Timepicker(picker, {
    format24: true,
  });

  const pickerInc = document.querySelector("#timepicker-inc");
  const timepickerInc = new te.Timepicker(pickerInc, {
    increment: true,
  });

  const pickerMaxTime = document.querySelector("#timepicker-max-time");
  const timepickerMaxTime = new te.Timepicker(pickerMaxTime, {
    maxTime: "6:35",
  });

  const pickerMaxTimePM = document.querySelector("#timepicker-max-time-pm");
  const tmMaxPm = new te.Timepicker(pickerMaxTimePM, {
    maxTime: "6:35 PM",
  });

  const pickerMaxTimeAM = document.querySelector("#timepicker-max-time-am");
  const tmMaxAm = new te.Timepicker(pickerMaxTimeAM, {
    maxTime: "6:35 AM",
  });

  const pickerMinTime = document.querySelector("#timepicker-min-time");
  const timepickerMinTime = new te.Timepicker(pickerMinTime, {
    minTime: "10:15",
  });

  const pickerMinTimePM = document.querySelector("#timepicker-min-time-pm");
  const tmMinPm = new te.Timepicker(pickerMinTimePM, {
    minTime: "6:35 PM",
  });

  const pickerMinTimeAM = document.querySelector("#timepicker-min-time-am");
  const tmMinAm = new te.Timepicker(pickerMinTimeAM, {
    minTime: "6:35 AM",
  });

  const pickerDisablePast = document.querySelector("#timepicker-disable-past");
  const timepickerDisablePast = new te.Timepicker(pickerDisablePast, {
    disablePast: true,
  });

  const pickerDisableFuture = document.querySelector(
    "#timepicker-disable-future"
  );
  const timepickerDisableFuture = new te.Timepicker(pickerDisableFuture, {
    disableFuture: true,
  });
</script>
<!-- TIMEPICKER SCRIPTS -->
<script>
  if (document.getElementById("flexCheckIndeterminate")) {
    const checkbox = document.getElementById("flexCheckIndeterminate");
    checkbox.indeterminate = true;
  }
</script>
<script>
  // Animations page
  const manuallyEl = document.getElementById("manually-example");
  if (manuallyEl) {
    const manuallyBtnStart = document.querySelector(
      "[data-te-animation-start-ref]"
    );
    const manuallyBtnStop = document.querySelector(
      "[data-te-animation-stop-ref]"
    );
    const manually = new te.Animate(manuallyEl, {
      animation: "pulse",
      animationStart: "manually",
      animationRepeat: true,
    });
    manuallyBtnStart.addEventListener("click", () => {
      manually.startAnimation();
    });
    manuallyBtnStop.addEventListener("click", () => {
      manually.stopAnimation();
    });

    //change animation
    const changeAnimationEl = document.getElementById(
      "change-animation-type-example"
    );
    const changeAnimationBtn = document.querySelector(
      "[data-te-animation-change-ref]"
    );
    let animation = "pulse";
    const changeAnimation = new te.Animate(changeAnimationEl, {
      animation: animation,
      animationStart: "onLoad",
      animationRepeat: true,
    });

    changeAnimation.init();

    changeAnimationBtn.addEventListener("click", () => {
      if (animation === "pulse") {
        animation = "spin";
      } else {
        animation = "pulse";
      }
      changeAnimation.stopAnimation();
      changeAnimation.changeAnimationType(animation);
      changeAnimation.startAnimation();
    });
    //change animation

    //list group
    let elementNumber = 1;
    const bindRemoveClickEvent = (el) => {
      const element = el;

      element.addEventListener("click", () => {
        const prevElement = element.previousElementSibling
          ? element.previousElementSibling
          : element;
        const animation =
          element === prevElement
            ? "[fade-out_1s_ease-in-out]"
            : "[slide-out-up_1s_ease-in-out]";

        prevElement.style.zIndex = "1";

        element.addEventListener("animationend", () => {
          element.remove();
          prevElement.style.zIndex = "0";
        });

        element.classList.add(`animate-${animation}`);
      });
    };

    const addNewOption = () => {
      const element = document.querySelector("[data-te-animation-ref]");
      const newElement = document.createElement("li");
      const lastElement = element.lastElementChild || element;
      const animation =
        element === lastElement
          ? "[fade-in_1s_ease-in-out]"
          : "[slide-in-down_1s_ease-in-out]";

      newElement.innerText = `element ${elementNumber}`;
      lastElement.style.zIndex = "1";
      newElement.classList.add(
        "px-6",
        "py-2",
        "border-b",
        "border-gray-200",
        "w-full",
        "rounded-t-lg",
        "relative",
        `animate-${animation}`
      );

      newElement.addEventListener("animationend", () => {
        lastElement.style.zIndex = "0";
        newElement.classList.remove(animation);
      });

      bindRemoveClickEvent(newElement);
      element.appendChild(newElement);
      elementNumber += 1;
    };

    document.querySelectorAll("[data-te-animation-ref] li").forEach((el) => {
      bindRemoveClickEvent(el);
    });

    document
      .querySelector("[data-te-animation-add-ref]")
      .addEventListener("click", () => {
        addNewOption();
      });
  }
  //list group
</script>
<script>
  // possibility of linking with a hash to a specific pills
  window.addEventListener("load", (event) => {
    const locationHash = window.location.hash;
    const scrollTop = () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    };

    if (locationHash === "#docsTabsAPI") {
      const apiTab = document.querySelector(
        '#docs-nav-pills a[href="#docsTabsAPI"]'
      );

      if (apiTab) {
        const apiTabsInstance = new te.Tab(apiTab);

        apiTabsInstance.show();
        scrollTop();
      }
    } else if (locationHash === "#docsTabsOverview") {
      scrollTop();
    } else if (
      ["#topTemplates", "#newTemplates", "#trendingTemplates"].indexOf(
        locationHash
      ) !== -1
    ) {
      const templateTab = document.querySelector(
        '#templates-nav-pills a[href="' + locationHash + '"]'
      );

      if (templateTab) {
        const templateTabsInstance = new mdb.Tab(templateTab);

        templateTabsInstance.show();
        scrollTop();
      }
    }

    const navPills = document.querySelectorAll(
      '#docs-nav-pills a[data-te-toggle="pill"]'
    );

    if (navPills.length) {
      navPills.forEach((el) => {
        el.addEventListener("click", (e) => {
          window.location.hash = e.target.hash;

          scrollTop();
        });
      });
    }

    const templatePills = document.querySelectorAll(
      '#templates-nav-pills a[data-te-toggle="pill"]'
    );

    if (templatePills.length) {
      templatePills.forEach((el) => {
        el.addEventListener("click", (e) => {
          window.location.hash = e.target.hash;

          scrollTop();
        });
      });
    }
  });
</script>
