{{ $hidden_sidenav := .Params.hidden_sidenav }}


<footer
  class="{{ if or (eq .IsHome true) (eq $hidden_sidenav false) }}
    xl:pl-60
  {{ end }}
    {{ if eq $hidden_sidenav true }}
    mt-0
  {{ else }}
    mt-16
  {{ end }}
   bg-slate-100 text-center text-neutral-600 transition-colors duration-500 dark:bg-neutral-900 dark:text-neutral-100 lg:text-left">
  <!-- Section: Design Block -->
  <div class="flex items-center justify-center px-6" mr-12 lg:block>
    <!-- Section: Design Block -->
    <div
      class="my-11 flex flex-col items-center justify-center lg:justify-between">
      <div class="mb-4 block w-full text-center">
        <span
          >Get useful tips & free resources directly to your inbox along with
          exclusive subscriber-only content.</span
        >
      </div>
      <div class="flex justify-center space-x-2">
        <a
          href="/newsletter"
          class="flex items-center justify-center rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
          Join our mailing list now
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            class="ml-2 h-3 w-3">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div
    class="bg-slate-200 p-4 text-center transition-colors duration-500 dark:bg-black">
    <span>© 2023 Copyright:</span>
    <a
      class="font-semibold text-primary dark:text-white"
      href="https://mdbootstrap.com/"
      >MDBootstrap.com</a
    >
  </div>
</footer>

{{ partial "footer/footer-scripts.html" . }}
{{ with .Resources.GetMatch "index-js.html" }}
  {{ .Content }}
{{ end }}
