<footer
  class="mt-16 bg-slate-100 text-center text-neutral-600 transition-colors duration-500 dark:bg-neutral-900 dark:text-neutral-100 lg:text-left">
  <div
    class="mx-auto py-12 min-[576px]:max-w-[540px] min-[768px]:max-w-[720px] min-[992px]:max-w-[960px] min-[1200px]:max-w-[1140px] min-[1400px]:max-w-[1320px]">
    <div class="flex items-center justify-center lg:justify-between">
      <div class="block w-full text-center">
        <span
          >Are you looking for interesting Bootstrap components? Take a look
          at:</span
        >
      </div>
    </div>
    <hr class=" my-12 border-neutral-300 dark:border-neutral-600" />
    <div class="pb-10 text-center md:text-left">
      <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
        <div class="">
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/timeline/"
              class="text-neutral-700 dark:text-neutral-200"
              >Timeline</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/chat/"
              class="text-neutral-700 dark:text-neutral-200"
              >Chat</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/avatar/"
              class="text-neutral-700 dark:text-neutral-200"
              >Avatar</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/comments/"
              class="text-neutral-700 dark:text-neutral-200"
              >Comment box</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/bootstrap-comparison-table/"
              class="text-neutral-700 dark:text-neutral-200"
              >Pricing table</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/credit-card/"
              class="text-neutral-700 dark:text-neutral-200"
              >Credit card form</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/video-carousel/"
              class="text-neutral-700 dark:text-neutral-200"
              >Video gallery</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/weather/"
              class="text-neutral-700 dark:text-neutral-200"
              >Weather</a
            >
          </p>
        </div>
        <div class="">
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/mega-menu/"
              class="text-neutral-700 dark:text-neutral-200"
              >Mega Menu</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/login/"
              class="text-neutral-700 dark:text-neutral-200"
              >Login</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/bootstrap-invoice/"
              class="text-neutral-700 dark:text-neutral-200"
              >Test</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/jumbotron/"
              class="text-neutral-700 dark:text-neutral-200"
              >Jumbotron</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/media-object/"
              class="text-neutral-700 dark:text-neutral-200"
              >Media object</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/multiselect/"
              class="text-neutral-700 dark:text-neutral-200"
              >Multiselect</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/to-do-list/"
              class="text-neutral-700 dark:text-neutral-200"
              >To do list</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/bootstrap-address-form//"
              class="text-neutral-700 dark:text-neutral-200"
              >Address Form</a
            >
          </p>
        </div>
        <div class="">
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/news-feed/"
              class="text-neutral-700 dark:text-neutral-200"
              >News feed</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/offcanvas/"
              class="text-neutral-700 dark:text-neutral-200"
              >Offcanvas</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/page-transitions/"
              class="text-neutral-700 dark:text-neutral-200"
              >Page transitions</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/payment-forms/"
              class="text-neutral-700 dark:text-neutral-200"
              >Payment form</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/product-cards/"
              class="text-neutral-700 dark:text-neutral-200"
              >Product card</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/profiles/"
              class="text-neutral-700 dark:text-neutral-200"
              >Profile</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/sidebar/"
              class="text-neutral-700 dark:text-neutral-200"
              >Sidebar</a
            >
          </p>
        </div>
        <div class="">
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/quotes/"
              class="text-neutral-700 dark:text-neutral-200"
              >Quote</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/shopping-carts/"
              class="text-neutral-700 dark:text-neutral-200"
              >Shopping cart</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/side-navbar/"
              class="text-neutral-700 dark:text-neutral-200"
              >Side navbar</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/square-buttons/"
              class="text-neutral-700 dark:text-neutral-200"
              >Square button</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/testimonial-slider/"
              class="text-neutral-700 dark:text-neutral-200"
              >Testimonial slider</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/testimonials/"
              class="text-neutral-700 dark:text-neutral-200"
              >Testimonials</a
            >
          </p>
          <p class="mb-[1px]">
            <a
              href="https://mdbootstrap.com/docs/standard/extended/textarea/"
              class="text-neutral-700 dark:text-neutral-200"
              >Textarea</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-slate-200 p-4 text-center dark:bg-black">
    <span>© 2023 Copyright:</span>
    <a
      class="font-semibold text-primary dark:text-white"
      href="https://mdbootstrap.com/"
      >MDBootstrap.com</a
    >
  </div>
</footer>

{{ partial "footer/footer-scripts.html" . }}
