<footer
  class="{{ if eq .Page.Params.hidden_footer true }}
    hidden
  {{ end }} mt-16 bg-slate-100 text-center text-neutral-600 transition-colors duration-500 dark:bg-neutral-900 dark:text-neutral-100 lg:text-left">
  <div
    class="mx-auto py-12 min-[576px]:max-w-[540px] min-[768px]:max-w-[720px] min-[992px]:max-w-[960px] min-[1200px]:max-w-[1140px] min-[1400px]:max-w-[1320px]">
    <div class="flex flex-col items-center justify-center lg:justify-between">
      <div class="mb-4 block w-full text-center">
        <span
          >Get useful tips & free resources directly to your inbox along with
          exclusive subscriber-only content.</span
        >
      </div>
      <div class="flex justify-center space-x-2">
        <a
          href="/newsletter"
          class="flex items-center justify-center rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
          Join our mailing list now
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            class="ml-2 h-3 w-3">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
          </svg>
        </a>
      </div>
    </div>
    <hr class=" my-12 border-neutral-300 dark:border-neutral-600" />
    <div class="pb-10 text-center md:text-left">
      <div class="grid-2 grid gap-10 px-12 md:grid-cols-2 lg:grid-cols-4">
        <div class="">
          <h3
            class="mb-2.5 flex items-center justify-center text-xl font-semibold uppercase md:justify-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="mr-3 h-5 w-5">
              <path
                d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z"></path>
            </svg>
            TW ELEMENTS
          </h3>
          <p>
            An open-source collection of components, templates and plugins for
            Tailwind CSS. Easily customizable &amp; optimized for performance.
          </p>
        </div>

        <div class="mx-12">
          <h4 class="mb-2.5 text-xl font-bold uppercase">Useful Links</h4>
          <p class="mb-1">
            <a
              href="https://tw-elements.com/license/#contactFormLicense"
              class="text-neutral-700 dark:text-neutral-200"
              >Contact Us</a
            >
          </p>
          <p class="mb-1">
            <a
              href="https://mdbootstrap.com/services/"
              class="text-neutral-700 dark:text-neutral-200"
              >Services</a
            >
          </p>
          <p class="mb-1">
            <a
              href="https://tw-elements.com/license/"
              class="text-neutral-700 dark:text-neutral-200"
              >License</a
            >
          </p>

          <p class="mb-1">
            <a
              href="https://tw-elements.com/press-pack/"
              class="text-neutral-700 dark:text-neutral-200"
              >Press Pack</a
            >
          </p>
          <p class="mb-1">
            <a
              href="https://mdbgo.com/"
              class="text-neutral-700 dark:text-neutral-200"
              >Free Hosting</a
            >
          </p>
          <p class="mb-1">
            <a
              href="https://tw-elements.com/general/privacy-policy/"
              class="text-neutral-700 dark:text-neutral-200"
              >Privacy Policy</a
            >
          </p>
          <p class="mb-1">
            <a
              href="https://tw-elements.com/docs/standard/extended/"
              class="text-neutral-700 dark:text-neutral-200"
              >Extended Docs</a
            >
          </p>
          <p class="mb-1">
            <a
              href="https://material-minimal.com/"
              class="text-neutral-700 dark:text-neutral-200"
              >Material Minimal</a
            >
          </p>
        </div>

        <div class="mx-12">
          <h4 class="mb-2.5 text-xl font-bold uppercase">Coming Soon</h4>
          <p class="mb-1">
            <a
              href="https://tw-elements.com/docs/standard/templates/"
              class="text-neutral-700 dark:text-neutral-200"
              >Templates</a
            >
          </p>
          <p class="mb-1">
            <a
              href="https://tw-elements.com/docs/standard/builder/"
              class="text-neutral-700 dark:text-neutral-200"
              >Drag &amp; Drop Builder</a
            >
          </p>
          <p class="mb-1">
            <a
              href="https://tw-elements.com/angular/"
              class="text-neutral-700 dark:text-neutral-200"
              >Angular</a
            >
          </p>
          <p class="mb-1">
            <a
              href="https://tw-elements.com/vue/"
              class="text-neutral-700 dark:text-neutral-200"
              >Vue</a
            >
          </p>
        </div>

        <div class="mx-12 md:me-0 md:ms-5">
          <h4 class="mb-2.5 text-xl font-bold uppercase">Community</h4>

          <p class="mb-1">
            <a
              href="https://github.com/mdbootstrap/TW-Elements/discussions"
              class="text-neutral-700 dark:text-neutral-200"
              >Discussion</a
            >
          </p>
          <p class="mb-1">
            <a
              href="https://github.com/mdbootstrap/TW-Elements/issues"
              class="text-neutral-700 dark:text-neutral-200"
              >Issues</a
            >
          </p>
          <p class="mb-1">
            <a
              href="https://tw-elements.com/docs/standard/getting-started/contribute/"
              class="text-neutral-700 dark:text-neutral-200"
              >Contribute</a
            >
          </p>

          <hr class="my-4 w-40 bg-neutral-100 opacity-100 dark:opacity-50" />

          <p class="mb-1 flex items-center justify-center md:justify-start">
            <a
              href="https://github.com/mdbootstrap/TW-Elements"
              class="flex text-neutral-700 dark:text-neutral-200 md:justify-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mr-2 h-5 w-5"
                fill="currentColor"
                viewBox="0 0 24 24">
                <path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
              </svg>

              GitHub</a
            >
          </p>
          <p class="mb-1 flex items-center justify-center md:justify-start">
            <a
              href="https://twitter.com/TailwindElement/"
              class="flex text-neutral-700 dark:text-neutral-200 md:justify-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mr-2 h-5 w-5"
                fill="currentColor"
                viewBox="0 0 24 24">
                <path
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
              </svg>

              Twitter</a
            >
          </p>

          <p class="mb-1 flex items-center justify-center md:justify-start">
            <a
              href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"
              class="flex text-neutral-700 dark:text-neutral-200 md:justify-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mr-1 h-6 w-6"
                fill="currentColor"
                viewBox="2 1 24 24">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"></path>
              </svg>

              YouTube</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-slate-200 p-4 text-center dark:bg-black">
    <span>© 2023 Copyright:</span>
    <a
      class="font-semibold text-primary dark:text-white"
      href="https://mdbootstrap.com/"
      >MDBootstrap.com</a
    >
  </div>
</footer>

{{ partial "footer/footer-scripts.html" . }}
