<footer class="text-center lg:text-left bg-gray-100 text-gray-600 mt-16">
  <div class="flex justify-center items-center lg:justify-between p-6 border-b border-gray-300">
    <div class="mr-12 hidden lg:block">
      <span>Are you looking for interesting Bootstrap components? Take a look at:</span>
    </div>
  </div>
  <div class="mx-6 py-10 text-center md:text-left">
    <div class="grid grid-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="">
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/timeline/" class="text-gray-600"
            >Timeline</a
          >
        </p>
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/chat/" class="text-gray-600"
            >Chat</a
          >
        </p>
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/avatar/" class="text-gray-600"
            >Avatar</a
          >
        </p>
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/comments/" class="text-gray-600"
            >Comment box</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/bootstrap-comparison-table/"
            class="text-gray-600"
            >Pricing table</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/credit-card/"
            class="text-gray-600"
            >Credit card form</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/video-carousel/"
            class="text-gray-600"
            >Video gallery</a
          >
        </p>
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/weather/" class="text-gray-600"
            >Weather</a
          >
        </p>
      </div>

      <div class="">
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/mega-menu/" class="text-gray-600"
            >Mega Menu</a
          >
        </p>
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/login/" class="text-gray-600"
            >Login</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/bootstrap-invoice/"
            class="text-gray-600"
            >Test</a
          >
        </p>
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/jumbotron/" class="text-gray-600"
            >Jumbotron</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/media-object/"
            class="text-gray-600"
            >Media object</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/multiselect/"
            class="text-gray-600"
            >Multiselect</a
          >
        </p>
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/to-do-list/" class="text-gray-600"
            >To do list</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/bootstrap-address-form//"
            class="text-gray-600"
            >Address Form</a
          >
        </p>
      </div>

      <div class="">
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/news-feed/" class="text-gray-600"
            >News feed</a
          >
        </p>
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/offcanvas/" class="text-gray-600"
            >Offcanvas</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/page-transitions/"
            class="text-gray-600"
            >Page transitions</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/payment-forms/"
            class="text-gray-600"
            >Payment form</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/product-cards/"
            class="text-gray-600"
            >Product card</a
          >
        </p>
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/profiles/" class="text-gray-600"
            >Profile</a
          >
        </p>
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/sidebar/" class="text-gray-600"
            >Sidebar</a
          >
        </p>
      </div>

      <div class="">
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/quotes/" class="text-gray-600"
            >Quote</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/shopping-carts/"
            class="text-gray-600"
            >Shopping cart</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/side-navbar/"
            class="text-gray-600"
            >Side navbar</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/square-buttons/"
            class="text-gray-600"
            >Square button</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/testimonial-slider/"
            class="text-gray-600"
            >Testimonial slider</a
          >
        </p>
        <p class="mb-3">
          <a
            href="https://mdbootstrap.com/docs/standard/extended/testimonials/"
            class="text-gray-600"
            >Testimonials</a
          >
        </p>
        <p class="mb-3">
          <a href="https://mdbootstrap.com/docs/standard/extended/textarea/" class="text-gray-600"
            >Textarea</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="text-center p-6 bg-gray-200">
    <span>© 2022 Copyright:</span>
    <a class="text-gray-600 font-semibold" href="https://mdbootstrap.com/">MDBootstrap</a>
  </div>
</footer>

{{ partial "footer/footer-scripts.html" . }}
