{{ partial "head/meta.html" . }}
{{ $styles := resources.Get "css/style.min.css" | postCSS }}
{{ if
  .Site.IsServer
}}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ else }}
  {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
  <link
    rel="stylesheet"
    href="{{ $styles.RelPermalink }}"
    integrity="{{ $styles.Data.Integrity }}" />
{{ end }}
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
  rel="stylesheet" />
<meta name="theme-color" content="#f8fafc" />
<script>
  try {
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
      document
        .querySelector('meta[name="theme-color"]')
        .setAttribute("content", "#0B1120");
    } else {
      document.documentElement.classList.remove("dark");
    }
  } catch (_) {}
</script>
