<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ .Params.seo_title }}</title>
<meta name="description" content="{{ .Params.description }}" />
<meta name="image" content="{{ .Params.image }}" />
<!-- Schema.org for Google -->
<meta itemprop="name" content="{{ .Params.seo_title }}" />
<meta itemprop="description" content="{{ .Params.description }}" />
<meta itemprop="image" content="{{ .Params.image }}" />
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="{{ .Params.seo_title }}" />
<meta property="twitter:description" content="{{ .Params.description }}" />
<meta property="twitter:site" content="@MDBootstrap" />
<meta property="twitter:creator" content="@MDBootstrap" />
<meta property="twitter:image:src" content="{{ .Params.image }}" />
<meta property="twitter:player" content="{{ .Params.video }}" />
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta property="og:title" content="{{ .Params.seo_title }}" />
<meta property="og:description" content="{{ .Params.description }}" />
<meta property="og:image" content="{{ .Params.image }}" />
<meta property="og:url" content="{{ .Site.BaseURL }}{{ .Params.url }}" />
<meta property="og:site_name" content="TW Elements" />
<meta property="og:locale" content="en_US" />
<meta property="og:video" content="{{ .Params.video }}" />
<meta property="fb:admins" content="" />
<meta property="og:type" content="website" />
<meta name="msvalidate.01" content="A2863151C6FC9B7534BBF5F0AFD435AC" />

<!-- Favicon -->
<link
  rel="shortcut icon"
  href="https://tecdn.b-cdn.net/img/Marketing/general/logo/small/te.ico"
  type="image/x-icon" />
<link
  rel="icon"
  href="https://tecdn.b-cdn.net/img/Marketing/general/logo/small/te.ico"
  type="image/x-icon" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-Q1R3HYQVHF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-Q1R3HYQVHF");
</script>

<meta
  name="google-site-verification"
  content="6YjWwWt7ML_gnTr8jnS90rdiOQ9RBxrzpgHDfqgeOWc" />
<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-T52X8CK");
</script>
<!-- End Google Tag Manager -->

<!-- Meta Pixel Code -->
<script>
  !(function (f, b, e, v, n, t, s) {
    if (f.fbq) return;
    n = f.fbq = function () {
      n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
    };
    if (!f._fbq) f._fbq = n;
    n.push = n;
    n.loaded = !0;
    n.version = "2.0";
    n.queue = [];
    t = b.createElement(e);
    t.async = !0;
    t.src = v;
    s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s);
  })(
    window,
    document,
    "script",
    "https://connect.facebook.net/en_US/fbevents.js"
  );
  fbq("init", "1771159443253993");
  fbq("track", "PageView");
</script>

<noscript
  ><img
    height="1"
    width="1"
    style="display:none"
    src="https://www.facebook.com/tr?id=1771159443253993&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
