@import '../src/css/main';

/*
  this file is built into custom-theme.css

  $ node-sass examples/custom-theme.scss -o examples/
*/

.ps-theme-square {
  @include ps-container(map-merge($ps-theme-default, (
    border-radius: 0,
    scrollbar-x-rail-bottom: 0,
    scrollbar-x-rail-height: 10px,
    scrollbar-x-bottom: 0,
    scrollbar-x-height: 10px,
    scrollbar-x-hover-height: 10px,
    scrollbar-y-rail-right: 0,
    scrollbar-y-rail-width: 10px,
    scrollbar-y-right: 0,
    scrollbar-y-width: 10px,
    scrollbar-y-hover-width: 10px,
  )));
}
