menu > ul > li.active {
  border-left: 2px solid hsl(217, 57%, 51%);
  color: hsl(217, 57%, 51%);
}
menu > ul > li {
  padding-left: 9px;
  font-size: 0.85rem;
  margin-bottom: 4px;
}
.dark menu > ul > li.active {
  border-left: 2px solid hsl(217, 57%, 72%);
  color: hsl(217, 57%, 72%);
}