@import '../src/css/main';

.ps-theme-custom-theme {
  @include ps-container(map-merge($ps-theme-default, (
          border-radius: 0,
          scrollbar-x-rail-height: 20px,
          scrollbar-x-height: 20px,
          scrollbar-y-rail-width: 20px,
          scrollbar-y-width: 20px,
          scrollbar-rail-scale-hover: 1.5
  )));
}
