@import '../src/css/main';

.ps-theme-custom-theme {
  @include ps-container(map-merge($ps-theme-default, (
          scrollbar-rail-scale-hover: 1.5,
          scrollbar-y-rail-width: 8px,
          scrollbar-y-width: 6px,
          scrollbar-x-rail-height: 8px,
          scrollbar-x-height: 6px
  )));
}
