<div
  class="scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100 dark:scrollbar-thumb-gray-700 dark:scrollbar-track-gray-800 sticky top-0  block h-screen overflow-y-auto pt-5 pb-4 dark:bg-zinc-800 dark:text-gray-200">
  <div class="mb-6">
    <div class="flex justify-between ">
      <p class="mb-2 block py-1 px-4 text-xs font-bold uppercase">
        Getting started
      </p>
      <a href="#"
        ><div id="close_icon" class="visible md:invisible">
          <svg
            viewPort="0 0 12 12"
            version="1.1"
            width="40"
            height="15"
            xmlns="http://www.w3.org/2000/svg">
            <line
              x1="1"
              y1="11"
              x2="11"
              y2="1"
              stroke="black"
              stroke-width="2" />
            <line
              x1="1"
              y1="1"
              x2="11"
              y2="11"
              stroke="black"
              stroke-width="2" />
          </svg></div
      ></a>
    </div>

    <ul class="mb-0 mt-0 block list-none flex-wrap pl-0">
      {{ $currentNode := . }}
      {{ range.Site.Menus.start }}
        <li class="mb-0 mt-0">
          <a
            href="{{ .URL }}"
            class=" {{ if $currentNode.IsMenuCurrent "start" . }}
              text-blue-600 dark:text-blue-300 font-bold
            {{ else }}
              hover:text-blue-700 dark:hover:text-blue-400
            {{ end }} mx-4 block text-sm leading-relaxed no-underline">
            {{ .Name }}</a
          >
        </li>
      {{ end }}
      <li class="mb-0 mt-0">
        <a
          target="_blank"
          href="/snippets/"
          class="mx-4 block text-sm leading-relaxed no-underline transition hover:text-blue-700 dark:hover:text-blue-400"
          >Playground</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://mdbgo.com/"
          class="mx-4  block text-sm leading-relaxed no-underline transition hover:text-blue-700 dark:hover:text-blue-400"
          >Hosting & deployment</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://mdbootstrap.com/services/"
          class="mx-4 mb-2 block text-sm no-underline hover:text-blue-700 dark:hover:text-blue-400"
          >Services</a
        >
      </li>
    </ul>
  </div>
  <!-- <div class="mb-6">
    <p
      class="text-xs uppercase font-bold block py-1 px-4 mb-2"
      >Deployment & hosting</p
    >
    <ul class="block flex-wrap list-none pl-0 mb-0 mt-0">
      {{ $currentNode := . }} {{ range.Site.Menus.go }}
    <li>
      <a
        href="{{ .URL }}"
        class=" {{ if $currentNode.IsMenuCurrent "go" . }}
          text-blue-600 dark:text-blue-300 font-bold
        {{ else }}
          hover:text-blue-700 dark:hover:text-blue-400
        {{ end }}   mx-4 mb-2 block text-sm no-underline">
        {{ .Name }}
      </a>
    </li>
  {{ end }}
    </ul>
  </div> -->
  <div class="mb-6">
    <p class="mb-2 block py-1 px-4 text-xs font-bold uppercase">Components</p>
    <ul class="mb-0 mt-0 block list-none flex-wrap pl-0">
      {{ $currentNode := . }}
      {{ range.Site.Menus.components }}
        <li>
          <a
            href="{{ .URL }}"
            class=" {{ if $currentNode.IsMenuCurrent "components" . }}
              text-blue-600 dark:text-blue-300 font-bold
            {{ else }}
              hover:text-blue-700 dark:hover:text-blue-400
            {{ end }}   mx-4 block text-sm leading-relaxed no-underline">
            {{ .Name }}
          </a>
        </li>
      {{ end }}

    </ul>
  </div>
  <div class="mb-6">
    <p class="mb-2 block py-1 px-4 text-xs font-bold uppercase">
      Content & styles
    </p>
    <ul class="mb-0 mt-0 block list-none flex-wrap pl-0">
      {{ $currentNode := . }}
      {{ range.Site.Menus.contentstyles }}
        <li>
          <a
            href="{{ .URL }}"
            class=" {{ if $currentNode.IsMenuCurrent "contentstyles" . }}
              text-blue-600 dark:text-blue-300 font-bold
            {{ else }}
              hover:text-blue-700 dark:hover:text-blue-400
            {{ end }}   mx-4 block text-sm leading-relaxed no-underline">
            {{ .Name }}
          </a>
        </li>
      {{ end }}

    </ul>
  </div>
  <div class="mb-6">
    <p class="mb-2 block py-1 px-4 text-xs font-bold uppercase">Navigation</p>
    <ul class="mb-0 mt-0 block list-none flex-wrap pl-0">
      {{ $currentNode := . }}
      {{ range.Site.Menus.navigation }}
        <li>
          <a
            href="{{ .URL }}"
            class=" {{ if $currentNode.IsMenuCurrent "navigation" . }}
              text-blue-600 dark:text-blue-300 font-bold
            {{ else }}
              hover:text-blue-700 dark:hover:text-blue-400
            {{ end }}   mx-4 block text-sm leading-relaxed no-underline">
            {{ .Name }}
          </a>
        </li>
      {{ end }}

    </ul>
  </div>
  <div class="mb-6">
    <p class="mb-2 block py-1 px-4 text-xs font-bold uppercase">Forms</p>
    <ul class="mb-0 mt-0 block list-none flex-wrap pl-0">
      {{ $currentNode := . }}
      {{ range.Site.Menus.forms }}
        <li>
          <a
            href="{{ .URL }}"
            class=" {{ if $currentNode.IsMenuCurrent "forms" . }}
              text-blue-600 dark:text-blue-300 font-bold
            {{ else }}
              hover:text-blue-700 dark:hover:text-blue-400
            {{ end }}   mx-4 block text-sm leading-relaxed no-underline">
            {{ .Name }}
          </a>
        </li>
      {{ end }}

    </ul>
  </div>
  <div class="mb-6">
    <p class="mb-2 block py-1 px-4 text-xs font-bold uppercase">Methods</p>
    <ul class="mb-0 mt-0 block list-none flex-wrap pl-0">
      {{ $currentNode := . }}
      {{ range.Site.Menus.methods }}
        <li>
          <a
            href="{{ .URL }}"
            class=" {{ if $currentNode.IsMenuCurrent "methods" . }}
              text-blue-600 dark:text-blue-300 font-bold
            {{ else }}
              hover:text-blue-700 dark:hover:text-blue-400
            {{ end }}   mx-4 block text-sm leading-relaxed no-underline">
            {{ .Name }}
          </a>
        </li>
      {{ end }}

    </ul>
  </div>
  <div class="mb-6">
    <p class="mb-2 block py-1 px-4 text-xs font-bold uppercase">
      Design Blocks
    </p>
    <ul class="mb-0 mt-0 block list-none flex-wrap pl-0">
      {{ $currentNode := . }}
      {{ range.Site.Menus.designblocks }}
        <li>
          <a
            href="{{ .URL }}"
            class=" {{ if $currentNode.IsMenuCurrent "designblocks" . }}
              text-blue-600 dark:text-blue-300 font-bold
            {{ else }}
              hover:text-blue-700 dark:hover:text-blue-400
            {{ end }}   mx-4 mb-2 block text-sm leading-relaxed no-underline">
            {{ .Name }}
          </a>
        </li>
      {{ end }}

    </ul>
  </div>

  <div class="mb-6">
    <p class="mb-2 block py-1 px-4 text-xs font-bold uppercase">Coming Soon</p>
    <ul class="mb-0 mt-0 block list-none flex-wrap pl-0">
      {{ $currentNode := . }}
      {{ range.Site.Menus.comingsoon }}
        <li>
          <a
            href="{{ .URL }}"
            class=" {{ if $currentNode.IsMenuCurrent "comingsoon" . }}
              text-blue-600 dark:text-blue-300 font-bold
            {{ else }}
              hover:text-blue-700 dark:hover:text-blue-400
            {{ end }}   mx-4 mb-2 block text-sm leading-relaxed no-underline">
            {{ .Name }}
          </a>
        </li>
      {{ end }}

    </ul>
  </div>
</div>
