//
// Base styles
//

.btn {
  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: none;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }
}
