// Dropdown

// The dropdown menu
.dropdown-menu {
  z-index: $zindex-dropdown;
}

// `<button>`-specific styles are denoted with `// For <button>s`
.dropdown-item {
  &.active,
  &:active {
    color: rgb(31, 41, 55);
    text-decoration: none;
    @include gradient-bg($dropdown-link-active-bg);
  }

  &:disabled {
    color: $dropdown-link-disabled-color;
    pointer-events: none;
    background-color: transparent;
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
  }
}

.dropdown-menu.show {
  display: block;
}

// Dark dropdowns
.dropdown-menu-dark {
  .dropdown-item {
    &.active,
    &:active {
      color: $dropdown-dark-link-active-color;
      @include gradient-bg($dropdown-dark-link-active-bg);
    }

    &.disabled,
    &:disabled {
      color: $dropdown-dark-link-disabled-color;
    }
  }
}
