<!-- Single for all single page under /docs/* -->
<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    {{ partial "head/head.html" . }}
  </head>
  <body style="background-color: hsl(0, 0%, 98%)">
    {{ partial "header/header.html" . }}

    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      preserveAspectRatio="none"
      class="svg absolute hidden lg:block"
      style="height: 570px; width: 100%; z-index: -10"
    >
      <defs>
        <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
          <stop stop-color="hsl(217, 91.2%, 99.1%)" offset="0%"></stop>
          <stop stop-color="hsl(217, 91.2%, 90.1%)" offset="100%"></stop>
        </linearGradient>
      </defs>
      <path
        fill="url(#sw-gradient-0)"
        d="M 0.351 264.418 C 0.351 264.418 33.396 268.165 47.112 270.128 C 265.033 301.319 477.487 325.608 614.827 237.124 C 713.575 173.504 692.613 144.116 805.776 87.876 C 942.649 19.853 1317.845 20.149 1440.003 23.965 C 1466.069 24.779 1440.135 24.024 1440.135 24.024 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 L 0.351 264.418 Z"
      ></path>
    </svg>

    <div class="container mt-14 mx-auto xl:max-w-screen-xl 2xl:px-0 px-5">
      <!-- Section: Intro -->
      <section class="mb-20 pb-20">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 flex items-center">
          <div class="">
            <h1 class="mb-8 mt-0">Tailwind <span class="text-blue-700">Elements</span></h1>

            <p class="text-gray-600 text-lg mb-8">
              Bootstrap components recreated with Tailwind CSS, but with better design and more
              functionalities.
            </p>

            <div class="">
              <ol class="mb-10 text-gray-600 text-md">
                <li class="mb-3">
                  <i class="fas fa-check text-blue-700 mr-3"></i>500+ UI components
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-blue-700 mr-3"></i>Super simple, 1 minute installation
                </li>
                <li class="mb-3"><i class="fas fa-check text-blue-700 mr-3"></i>Free hosting</li>
                <li class="">
                  <i class="fas fa-check text-blue-700 mr-3"></i>MIT license - free for personal
                  &amp; commercial use
                </li>
              </ol>

              <div class="flex items-center">
                <a
                  class="px-14 py-4 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mr-4"
                  href="/quick-start/"
                  role="button"
                  >Get started</a
                >

                <a
                  href="https://github.com/mdbootstrap/Tailwind-Elements/"
                  target="_blank"
                  class="text-gray-800"
                >
                  <i class="fab fa-github" style="font-size: 40px"></i>
                </a>
              </div>
            </div>
          </div>
          <div
            class=""
            id="gtmDC-frontpage-all"
            style="margin-top: 2px; min-height: 1px; min-width: 1px"
          ></div>
        </div>
      </section>
      <!-- Section: Intro -->

      <!-- Section: Main -->
      <section id="section-main" class="mb-20 pb-20">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 text-center">
          <!-- Card -->
          <div>
            <a href="#section-components" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/components.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/components.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Components</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="#section-blocks" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/design-blocks.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/design-blocks.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Design blocks (sections)</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/templates.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/templates.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Templates <small>(coming soon)</small></p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="https://mdbgo.com/" target="_blank" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/free-hosting.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/free-hosting.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Free hosting</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/snippets/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/playground.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/playground.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Playground</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/drag-and-drop.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/drag-and-drop.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Drag &amp; drop builder <small>(coming soon, but try out our <a href="https://mdb-builder.com/" target="_blank" class="text-blue-500">Bootstrap Builder</a> )</small></p>

          </div>
          <!-- Card -->
        </div>
      </section>
      <!-- Section: Main -->

      <!-- Section: Components -->
      <section id="section-components" class="mb-20 pb-20">
        <h2 class="font-medium leading-tight text-4xl mt-0 mb-20 text-center">Components</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 text-center mb-10">
          <!-- Card -->
          <div>
            <a href="/docs/standard/forms/datepicker/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/datepicker.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/datepicker.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Datepicker</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/components/dropdown/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/dropdown.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/dropdown.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Dropdown</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/components/modal/" class="block mb-5">
              <picture>
                <source srcset="https://mdbootstrap.com/img/tw-demo/modal.webp" type="image/webp" />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/modal.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Modal</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/components/charts/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/charts.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/charts.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Charts</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/components/tooltip/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/tooltips-1.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/tooltips-1.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Tooltips</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/components/carousel/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/carousel.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/carousel.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Carousel</p>
          </div>
          <!-- Card -->

          <!-- Card -->
          <div>
            <a href="/docs/standard/components/accordion/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/accordion.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/accordion.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Accordion</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/navigation/tabs/" class="block mb-5">
              <picture>
                <source srcset="https://mdbootstrap.com/img/tw-demo/tabs.webp" type="image/webp" />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/tabs.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Tabs</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/components/stepper/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/stepper.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/stepper.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Stepper</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/forms/timepicker/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/timepicker.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/timepicker.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Timepicker</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/navigation/footer/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/footer.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/footer.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Footer</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/navigation/navbar/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/navbar.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/navbar.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Navbar</p>
          </div>
          <!-- Card -->
        </div>

        <div class="flex justify-center text-center">
          <a
            class="px-8 py-4 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-md focus:bg-blue-700 focus:shadow-md focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-md transition duration-150 ease-in-out"
            href="/quick-start/"
            role="button"
            >View all components</a
          >
        </div>
      </section>
      <!-- Section: Components -->

      <!-- Section: Design blocks -->
      <section id="section-blocks" class="mb-20 pb-20">
        <h2 class="font-medium leading-tight text-4xl mt-0 mb-20 text-center">Design blocks</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 text-center mb-10">
          <!-- Card -->
          <div>
            <a href="/docs/standard/designblocks/hero-sections/" class="block mb-5">
              <picture>
                <source srcset="https://mdbootstrap.com/img/tw-demo/hero.webp" type="image/webp" />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/hero.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Hero</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/designblocks/pricing/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/pricing.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/pricing.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Pricing</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/designblocks/cta/" class="block mb-5">
              <picture>
                <source srcset="https://mdbootstrap.com/img/tw-demo/cta.webp" type="image/webp" />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/cta.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Call to action</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/designblocks/features/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/features.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/features.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Features</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/designblocks/contact/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/contact.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/contact.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Contact</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/designblocks/news/" class="block mb-5">
              <picture>
                <source srcset="https://mdbootstrap.com/img/tw-demo/news.webp" type="image/webp" />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/news.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">News / blog</p>
          </div>
          <!-- Card -->

          <!-- Card -->
          <div>
            <a href="/docs/standard/designblocks/team/" class="block mb-5">
              <picture>
                <source srcset="https://mdbootstrap.com/img/tw-demo/team.webp" type="image/webp" />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/team.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Team</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/designblocks/stats/" class="block mb-5">
              <picture>
                <source srcset="https://mdbootstrap.com/img/tw-demo/stats.webp" type="image/webp" />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/stats.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Stats</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/designblocks/testimonials/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/testimonials.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/testimonials.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Testimonials</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/designblocks/content/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/content.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/content.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Content</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/designblocks/newsletter/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/newsletter.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/newsletter.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Newsletter</p>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div>
            <a href="/docs/standard/designblocks/project-sections/" class="block mb-5">
              <picture>
                <source
                  srcset="https://mdbootstrap.com/img/tw-demo/projects.webp"
                  type="image/webp"
                />
                <img
                  src="https://mdbootstrap.com/img/tw-demo/projects.jpg"
                  class="rounded-lg shadow-md bg-white w-full"
                  alt=""
                />
              </picture>
            </a>

            <p class="font-semibold">Projects</p>
          </div>
          <!-- Card -->
        </div>

        <div class="flex justify-center text-center">
          <a
            class="px-8 py-4 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-md focus:bg-blue-700 focus:shadow-md focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-md transition duration-150 ease-in-out"
            href="/docs/standard/designblocks/landing-page/"
            role="button"
            >View all design blocks</a
          >
        </div>
      </section>
      <!-- Section: Design blocks -->
    </div>

    <!-- <div class="container mx-auto mt-4 pt-12">
      <div class="flex flex-wrap">
        <div class="w-full sm:w-9/12 lg:w-8/12 px-4 sm:pr-10 lg:pr-4">
          <div class="mb-8">
            <h1 class="text-5xl font-bold leading-normal mt-0">
              {{ .Params.main_title }}
            </h1>
            <p class="text-gray-500">{{ .Params.description }}</p>

            <hr class="my-12" />

            {{ .Content }}
          </div>
        </div>
        <div class="w-full lg:w-2/12 px-4 hidden lg:block"></div>
      </div>
    </div> -->

    {{ partial "footer/footer.html" . }}
  </body>
</html>
