<!-- Single for all single page under /docs/* -->
<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    {{ partial "head/head.html" . }}
  </head>
  <body>
    {{ partial "header/header.html" . }}

    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      preserveAspectRatio="none"
      class="svg absolute hidden lg:block"
      style="height: 570px; width: 100%; z-index: -10"
    >
      <defs>
        <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
          <stop stop-color="hsl(217, 91.2%, 99.1%)" offset="0%"></stop>
          <stop stop-color="hsl(217, 91.2%, 90.1%)" offset="100%"></stop>
        </linearGradient>
      </defs>
      <path
        fill="url(#sw-gradient-0)"
        d="M 0.351 264.418 C 0.351 264.418 33.396 268.165 47.112 270.128 C 265.033 301.319 477.487 325.608 614.827 237.124 C 713.575 173.504 692.613 144.116 805.776 87.876 C 942.649 19.853 1317.845 20.149 1440.003 23.965 C 1466.069 24.779 1440.135 24.024 1440.135 24.024 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 L 0.351 264.418 Z"
      ></path>
    </svg>

    <div
      class="
        container
        mt-14
        mx-auto
        xl:max-w-screen-xl 2xl:px-0 px-5
      "
    >

    
      <!-- Section: Intro -->
      <section class="mb-14 pb-14">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-12 flex items-center">
          <div class="">
            <h1 class="mb-8 mt-0">
              Tailwind <span class="text-blue-700">Elements</span>
            </h1>

            <p class="text-gray-600 text-lg mb-8">
              Bootstrap components recreated with Tailwind CSS, but with better
              design and more functionalities.
            </p>

            <div class="">
              <ol class="mb-10 text-gray-600 text-md">
                <li class="mb-3">
                  <i class="fas fa-check text-blue-700 mr-3"></i>500+ UI
                  components
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-blue-700 mr-3"></i>Super simple, 1
                  minute installation
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-blue-700 mr-3"></i>Free hosting
                </li>
                <li class="">
                  <i class="fas fa-check text-blue-700 mr-3"></i>MIT license -
                  free for personal &amp; commercial use
                </li>
              </ol>

              <div class="flex items-center">
                <a
                  class="
                    px-14
                    py-4
                    bg-blue-600
                    text-white
                    font-medium
                    text-sm
                    leading-snug
                    uppercase
                    rounded-full
                    shadow-md
                    hover:bg-blue-700 hover:shadow-lg
                    focus:bg-blue-700
                    focus:shadow-lg
                    focus:outline-none
                    focus:ring-0
                    active:bg-blue-800 active:shadow-lg
                    transition
                    duration-150
                    ease-in-out
                    mr-4
                  "
                  href="/quick-start/"
                  role="button"
                  >Get started</a
                >

                <a
                  href="https://github.com/mdbootstrap/Tailwind-Elements/"
                  target="_blank"
                  class="text-gray-800"
                >
                  <i class="fab fa-github" style="font-size: 40px"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="" id="gtmDC-frontpage-all" style="margin-top:2px;min-height:1px;min-width:1px;">
            
          </div>
        </div>
      </section>
      <!-- Section: Intro -->

      <!-- Section: Demo -->
      <section class="">
        <h2 class="text-3xl font-semibold text-center mb-0">Explore components</h2>

        <hr class="my-14" />

        {{ .Content }}
      </section>
      <!-- Section: Components -->
    </div>

    <!-- <div class="container mx-auto mt-4 pt-12">
      <div class="flex flex-wrap">
        <div class="w-full sm:w-9/12 lg:w-8/12 px-4 sm:pr-10 lg:pr-4">
          <div class="mb-8">
            <h1 class="text-5xl font-bold leading-normal mt-0">
              {{ .Params.main_title }}
            </h1>
            <p class="text-gray-500">{{ .Params.description }}</p>

            <hr class="my-12" />

            {{ .Content }}
          </div>
        </div>
        <div class="w-full lg:w-2/12 px-4 hidden lg:block"></div>
      </div>
    </div> -->

    {{ partial "footer/footer.html" . }}
  </body>
</html>
