.ps-container .ps-scrollbar-x {
    position: absolute;
    height: 10px;
    bottom: 5px;
    background-color: gray;
}

.ps-container .ps-scrollbar-x:hover {
    background-color: black;
    cursor:default;
}

.ps-container .ps-scrollbar-x.in-scrolling {
    background-color: black;
}

.ps-container .ps-scrollbar-y {
    position: absolute;
    width: 10px;
    right: 5px;
    background-color: gray;
}

.ps-container .ps-scrollbar-y:hover {
    background-color: black;
    cursor: default;
}

.ps-container .ps-scrollbar-y.in-scrolling {
    background-color: black;
}
