@media screen and (min-width:0\0) {  
    .ps-container {
        background-image: url('about:blank');/*fixed ie9 ie10 and no extra connection introduced. */
    }
}
.ps-container {
    background-image: url('about:blank')\9;/*fixed ie6 ie7 ie8 and no extra connection introduced. */
}
.ps-container > *, x:ie {
    zoom: 1; /* fixed hasLayout problem in ie7 */
}
.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x */
    _bottom: 3px !important; /* fixed ie6 */
    height: 8px;
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
    background-color: #aaa;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: opacity.2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-x,
.ps-container.hover .ps-scrollbar-x {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-x:hover,
.ps-container .ps-scrollbar-x.hover {
    opacity: 0.9;
    filter: alpha(opacity = 90);
    cursor:default;
}

.ps-container .ps-scrollbar-x.in-scrolling {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y */
    _right: 3px !important; /* fixed ie6 */
    width: 8px;
    font-size: 0;/* fixed scrollbar height in xp sp3 ie6 */
    background-color: #aaa;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: opacity.2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-y,
.ps-container.hover .ps-scrollbar-y {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-y:hover ,
.ps-container .ps-scrollbar-y.hover {
    opacity: 0.9;
    filter: alpha(opacity = 90);
    cursor: default;
}

.ps-container .ps-scrollbar-y.in-scrolling {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}
